<aside class="menu_nav fl">
            <ul class="menu_nav_list">
                <li><i class="menu_nav_list_icon nav_icon_01"></i><a class="active" href="#">群发消息</a></li>
                <li><i class="menu_nav_list_icon nav_icon_02"></i><a href="#">留言管理</a></li>
                <li><i class="menu_nav_list_icon nav_icon_03"></i><a href="#">数据分析</a></li>
                <!--<li><i class="menu_nav_list_icon nav_icon_04"></i><a href="#">活动管理</a></li>-->
                <li><i class="menu_nav_list_icon nav_icon_05"></i><a href="#">素材管理</a></li>
                <!--<li><i class="menu_nav_list_icon nav_icon_06"></i><a href="#">营销插件</a></li>-->
                <li><i class="menu_nav_list_icon nav_icon_07"></i><a href="#">系统设置</a></li>
                <li class="menu_nav_list_bottom"><i class="menu_nav_list_icon nav_icon_bottom"></i></li>
            </ul>
        </aside>