@import './reset.scss';

body{
    min-width: 1200px;
    background: #f9fafb;
}
.loginTop{
    height: 394px;   
    /* background: url(../image/log_bg.jpg) no-repeat;
    background-size: 100%; */
    position: relative;
    z-index: 9;
    overflow: hidden;
    .bg{
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        width: 100%;
        img{
            width: 100%;
        }
    }
    .logo{
        width: 340px;
        height: 66px;
        margin: 0 auto;
        padding-top: 160px;
        position: relative;
        z-index: 99;
    }
    .wave{
        width: 100%;
        height: 168px;
        position: relative;
        z-index: 9;
        .waves{
            width: 100%; 
        }
        .wave3{                      
            position: absolute;           
            overflow: hidden;
            left: 0;
            bottom: -155px;
            animation: waveMove 18s infinite 3.2s;       
        }
        @keyframes waveMove{
            0% {bottom: -155px;}
            50% {bottom: -265px;}
            100% {bottom: -155px;}
        }
        .wave2{           
            position: absolute;           
            overflow: hidden;
            left: 0;
            bottom: -98px;
            animation: waveMove2 8s infinite 1.6s;            
        }
        @keyframes waveMove2{
            0% {bottom: -98px;}
            50% {bottom: -125px;}
            100% {bottom: -98px;}
        }
        .wave1{            
            position: absolute;           
            overflow: hidden;
            left: 0;
            bottom: 0px;
            animation: waveMove3 9s infinite ;           
        }
        @keyframes waveMove3{
            0% {bottom: 0px;}
            50% {bottom: -30px;}
            100% {bottom: 0px;}
        }
    }
}
.middle{
    position: relative;
    z-index: 999;

}
.loginMain{
    .loginBox{
        width: 383px;
        height: 212px;
        margin: 0 auto;
        margin-top: 60px;
        .sameText{
            width: 381px;
            height: 46px;
            border: 1px solid #dddddd;
            border-radius: 5px;
            margin-bottom: 20px;
            text-indent: 66px;
            line-height: 46px;
            font-size: 14px;
        }
        .focusT{
            border-color: #0091ea;
        }
        .user{
            display: inline-block;
            position: relative;
            &:before{
                content:'';
                position: absolute;
                left: 16px;
                top: 50%;
                margin-top: -20px;
                width: 18px;
                height: 20px;
                background: url(../image/user.png) no-repeat;
            };
        }
        .psd{
            display: inline-block;
            position: relative;
            &:before{
                content:'';
                position: absolute;
                left: 16px;
                top: 50%;
                margin-top: -23px;
                width: 18px;
                height: 25px;
                background: url(../image/pass.png) no-repeat;
            };
        }
        .psdHelp{
            font-size: 14px;
            color: #999999;
            line-height: 16px;
            padding-left: 8px;
            padding-right: 14px;
            .checkPsd{
                width: 19px;
                height: 19px;
                background: url(../image/checkbox.png);
                margin-top: 0px;
            }
            .forget{
                float: right;
                font-size: 12px;
                line-height: 22px;                
                a{
                    color: #999999;
                    text-decoration: underline;
                }
            }
        }
        .loginBtn{
            margin-top: 16px;
            .log{
                width: 383px;
                height: 43px;
                background: #0091ea;
                color: #fff;
                line-height: 43px;
                font-size: 24px;
            }
        }
        
    }
}
.forgetMain{
    .emailText{
        width: 381px;
        height: 44px;
        border: 1px solid #dddddd;
        border-radius: 5px;
        margin-bottom: 20px;
        text-indent: 12px;
        line-height: 44px;
        font-size: 14px;
        float: left;
    }
    .yzCode{
        width: 204px;
    }
    .getCode{
        width: 150px;
        height: 48px;
        line-height: 48px;
        background: #70b9f7;
        color: #fff;
        font-size: 14px;
        float: right;
    }
    .gray{
        background: #bbbbbb;
    }
    .forBtn{
        margin-top: 24px;
    }
    .pre{
        width: 176px;
        height: 40px;
        line-height: 40px;
        background: #fff;
        border: 1px solid #0091ea;
        color: #0091ea;
        font-size: 18px;
    }
    .next{
        width: 176px;
        height: 42px;
        line-height: 42px;
        background: #0091ea;
        color: #fff;
        font-size: 18px;
        float: right;
    }
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 42px;
    span{
        font-size: 12px;
        color: #999999;    
    }
}
.aBtn{
    display: inline-block;
    text-align: center;
    border-radius: 5px;
}
.hide{
    display: none;
}