@charset "UTF-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font-weight: 400; vertical-align: baseline; background: transparent; list-style-type: none; }

html, body { font-family: "微软雅黑"; }

body { line-height: 1; font-size: 14px; min-width: 1200px; }

.container { width: 1200px; margin: 0 auto; padding: 0; }

:focus { outline: 1; }

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

nav ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

a { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

a { text-decoration: none; }

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted #000; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #cccccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

input, select, textarea { /* -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-appearance: none; appearance: none; */ border: 0; border-radius: 0; outline: none; }

em, i { font-style: normal; }

img { max-width: 100%; border: none; }

.cl:after, .clearfix:after { content: ""; display: block; height: 0; clear: both; visibility: hidden; }

.cl, .clearfix { *zoom: 1; }

.fl { float: left; }

.fr { float: right; }

.center { text-align: center; }

.hide { display: none !important; }

.show { display: block !important; }

.mgt30 { margin-top: 30px; }

.mgt20 { margin-top: 20px; }

.box { display: box; }

.no_margin { margin: 0 !important; }

.count_warn { color: #e15f63 !important; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font-weight: 400; vertical-align: baseline; background: transparent; list-style-type: none; }

html, body { font-family: "微软雅黑"; }

body { line-height: 1; font-size: 14px; min-width: 1200px; }

.container { width: 1200px; margin: 0 auto; padding: 0; }

:focus { outline: 1; }

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

nav ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

a { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

a { text-decoration: none; }

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted #000; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #cccccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

input, select, textarea { /* -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-appearance: none; appearance: none; */ border: 0; border-radius: 0; outline: none; }

em, i { font-style: normal; }

img { max-width: 100%; border: none; }

.cl:after, .clearfix:after { content: ""; display: block; height: 0; clear: both; visibility: hidden; }

.cl, .clearfix { *zoom: 1; }

.fl { float: left; }

.fr { float: right; }

.center { text-align: center; }

.hide { display: none !important; }

.show { display: block !important; }

.mgt30 { margin-top: 30px; }

.mgt20 { margin-top: 20px; }

.box { display: box; }

.no_margin { margin: 0 !important; }

.count_warn { color: #e15f63 !important; }

body { background: #eff2f7; }

header { width: 100%; height: 110px; line-height: 110px; border-bottom: 1px solid #dee5ed; background: #fff; }

header .logo { padding-left: 50px; }

header .logo a { display: block; }

header .logo a img { vertical-align: middle; }

header .user_info { padding-right: 55px; position: relative; top: 45px; }

header .user_info p { font-size: 14px; color: #1c84dc; line-height: 1; text-align: right; }

header .user_info p a { color: #1c84dc; text-decoration: underline; }

header .user_info p:last-child { margin-top: 15px; }

.main { margin-top: 20px; }

.main .menu_nav { margin-left: 50px; width: 228px; height: 646px; background: #fff; border: 1px solid #dce4ec; }

.main .menu_nav_list li { height: 63px; line-height: 63px; }

.main .menu_nav_list li.menu_nav_list_bottom { height: 206px; }

.main .menu_nav_list li i { float: left; display: inline-block; width: 67px; height: 63px; border-right: 1px solid #dce4ec; border-bottom: 1px solid #dce4ec; }

.main .menu_nav_list li i.nav_icon_01 { background: url(../image/nav_icon_01.png) center no-repeat; background-color: #f9fafb; }

.main .menu_nav_list li i.nav_icon_02 { background: url(../image/nav_icon_02.png) center no-repeat; background-color: #f9fafb; }

.main .menu_nav_list li i.nav_icon_03 { background: url(../image/nav_icon_03.png) center no-repeat; background-color: #f9fafb; }

.main .menu_nav_list li i.nav_icon_04 { background: url(../image/nav_icon_04.png) center no-repeat; background-color: #f9fafb; }

.main .menu_nav_list li i.nav_icon_05 { background: url(../image/nav_icon_05.png) center no-repeat; background-color: #f9fafb; }

.main .menu_nav_list li i.nav_icon_06 { background: url(../image/nav_icon_06.png) center no-repeat; background-color: #f9fafb; }

.main .menu_nav_list li i.nav_icon_07 { background: url(../image/nav_icon_07.png) center no-repeat; background-color: #f9fafb; }

.main .menu_nav_list li i.nav_icon_bottom { display: block; height: 206px; background-color: #f9fafb; border-bottom: 0; }

.main .menu_nav_list li a { display: block; height: 63px; line-height: 63px; font-size: 16px; text-indent: 30px; color: #7f96a3; background: #fff; border-bottom: 1px solid #dce4ec; }

.main .menu_nav_list li a:link { text-decoration: none; }

.main .menu_nav_list li a:visited { text-decoration: none; }

.main .menu_nav_list li a:hover { text-decoration: none; color: #0091ea; }

.main .menu_nav_list li a:active { text-decoration: none; }

.main .menu_nav_list li a.active { color: #0091ea; }

.main .main_wrapper { width: 836px; margin-left: 12px; }

body { font-size: 14px; padding-bottom: 100px; }

.main .menu_nav { height: auto; }

.main .menu_nav_list li.menu_nav_list_bottom { height: 496px; }

.main .menu_nav_list li i.nav_icon_bottom { height: 496px; }

.main_wrapper { background: #fff; border: 1px solid #dddddd; min-height: 813px; position: relative; padding-bottom: 50px; }

.main_wrapper .n_tittle { width: 100%; height: 52px; border-bottom: 1px solid #dce4ec; }

.main_wrapper .n_tittle .a_btn { display: inline-block; width: 170px; height: 51px; line-height: 51px; font-size: 16px; color: #7f96a3; text-align: center; text-decoration: none; margin-right: -3px; cursor: pointer; }

.main_wrapper .n_tittle .has_bor { border-right: 1px solid #dce4ec; border-left: 1px solid #dce4ec; }

.main_wrapper .n_tittle .choose { color: #0091ea; background: #f9fafb; }

.main_wrapper .n_chat { width: 100%; height: 52px; line-height: 52px; border-bottom: 1px solid #dce4ec; }

.main_wrapper .n_chat .chat_name { margin-left: 26px; font-size: 16px; }

.main_wrapper .n_chat .chat_name em { color: #7f96a3; }

.main_wrapper .n_type { width: 100%; }

.main_wrapper .n_type .n_type_list { height: 60px; width: 464px; margin: 0 auto; }

.main_wrapper .n_type .n_type_list .n_type_item { float: left; margin-right: 34px; height: 60px; line-height: 60px; text-align: center; }

.main_wrapper .n_type .n_type_list .n_type_item .n_type_btn { text-decoration: none; font-size: 14px; color: #7f96a3; }

.main_wrapper .n_type .n_type_list .n_type_item .n_type_btn:hover { color: #0091ea; }

.main_wrapper .n_type .n_type_list .n_type_item .n_type_btn.active { color: #0091ea; }

.main_wrapper .n_type .n_type_list .n_type_item .cho_icon1 { background: url(../image/cho_icon_01.png) no-repeat; padding-left: 20px; }

.main_wrapper .n_type .n_type_list .n_type_item .cho_icon1:hover { background: url(../image/cho_hov_01.png) no-repeat; }

.main_wrapper .n_type .n_type_list .n_type_item .cho_icon1.active { background: url(../image/cho_hov_01.png) no-repeat; }

.main_wrapper .n_type .n_type_list .n_type_item .cho_icon2 { background: url(../image/cho_icon_02.png) no-repeat; padding-left: 27px; }

.main_wrapper .n_type .n_type_list .n_type_item .cho_icon2:hover { background: url(../image/cho_hov_02.png) no-repeat; }

.main_wrapper .n_type .n_type_list .n_type_item .cho_icon2.active { background: url(../image/cho_hov_02.png) no-repeat; }

.main_wrapper .n_type .n_type_list .n_type_item .cho_icon3 { background: url(../image/cho_icon_03.png) no-repeat; padding-left: 27px; }

.main_wrapper .n_type .n_type_list .n_type_item .cho_icon3:hover { background: url(../image/cho_hov_03.png) no-repeat; }

.main_wrapper .n_type .n_type_list .n_type_item .cho_icon3.active { background: url(../image/cho_hov_03.png) no-repeat; }

.main_wrapper .n_type .n_type_list .n_type_item .cho_icon4 { background: url(../image/cho_icon_04.png) no-repeat; padding-left: 20px; }

.main_wrapper .n_type .n_type_list .n_type_item .cho_icon4:hover { background: url(../image/cho_hov_04.png) no-repeat; }

.main_wrapper .n_type .n_type_list .n_type_item .cho_icon4.active { background: url(../image/cho_hov_04.png) no-repeat; }

.main_wrapper .n_type .n_type_list .n_type_item .cho_icon5 { background: url(../image/cho_icon_05.png) no-repeat; padding-left: 24px; }

.main_wrapper .n_type .n_type_list .n_type_item .cho_icon5:hover { background: url(../image/cho_hov_05.png) no-repeat; }

.main_wrapper .n_type .n_type_list .n_type_item .cho_icon5.active { background: url(../image/cho_hov_05.png) no-repeat; }

.main_wrapper .n_type .n_type_list .n_type_item:last-child { margin-right: 0px; }

.main_wrapper .n_main { /* width: 758px; height: 290px; */ margin: 0 auto; }

.main_wrapper .n_main .img_text_box { width: 758px; height: 288px; margin: 0 auto; margin-top: 29px; border: 1px solid #dce4ec; }

.main_wrapper .n_main .img_text_box .add_img_text { display: inline-block; width: 354px; height: 208px; border: 2px dashed #dce4ec; text-align: center; color: #bbbbbb; font-size: 16px; margin: 38px 0; cursor: pointer; }

.main_wrapper .n_main .img_text_box .add_img_text .add_img_span { display: inline-block; width: 34px; height: 34px; margin-top: 66px; margin-bottom: 16px; }

.main_wrapper .n_main .img_text_box .add_it { margin-left: 11px; margin-right: 27px; }

.main_wrapper .n_main .img_text_box .img_text_item { display: inline-block; width: 315px; border: 1px solid #dce4ec; margin-top: 16px; padding: 0 10px; position: relative; }

.main_wrapper .n_main .img_text_box .img_text_item .img_text_item_time { line-height: 43px; color: #999999; border-bottom: 1px solid #dce4ec; }

.main_wrapper .n_main .img_text_box .img_text_item .img_text_item_time em { color: #ffbc48; margin-top: 10px; display: inline-block; }

.main_wrapper .n_main .img_text_box .img_text_item .incomplete_text { line-height: 20px; padding: 20px 0; }

.main_wrapper .n_main .img_text_box .img_text_item .img_text_item_tittle { line-height: 46px; color: #222222; }

.main_wrapper .n_main .img_text_box .img_text_item .img_text_item_image { margin-bottom: 30px; }

.main_wrapper .n_main .img_text_box .img_text_item .black_choose { display: none; position: absolute; left: 0; right: 0; top: 0; bottom: 0; border: 2px solid #5ab2f6; background: url(../image/gou.png) no-repeat center center; background-color: rgba(0, 0, 0, 0.6); }

.main_wrapper .n_main .img_text_box .img_text_item .black_not_choose { position: absolute; left: 0; right: 0; top: 0; bottom: 0; border: 2px solid #5ab2f6; background-color: rgba(0, 0, 0, 0.6); }

.main_wrapper .n_main .img_text_box .img_text_item .black_not_choose p { color: #fff; margin: auto; width: 220px; margin-top: 22%; }

.main_wrapper .n_main .img_text_box .img_text_item .black_not_choose p em { color: #0091ea; }

.main_wrapper .n_main .img_text_box .delete_it { margin-top: 296px; margin-left: 10px; color: #0091ea; }

.main_wrapper .n_main .sent_out { margin: 29px 41px; }

.main_wrapper .n_main .sent_out .sent_out_btn { display: inline-block; width: 110px; height: 35px; background: #0091ea; color: #fff; border-radius: 3px; text-align: center; line-height: 35px; }

.main_wrapper .n_main .img-text .voice_header { height: 51px; padding: 0; }

.main_wrapper .n_main .img-text .voice_header .img_text_tittle { width: 140px; height: 51px; text-align: center; line-height: 51px; color: #7f96a3; font-size: 16px; border-right: 1px solid #dce4ec; cursor: pointer; }

.main_wrapper .n_main .img-text .voice_header .img_text_tittle.active { background: #f9fafb; color: #0091ea; height: 50px; }

.main_wrapper .n_main .img-text .voice_header .close { margin-right: 15px; margin-top: 12px; }

.main_wrapper .n_main .img-text .img-text-body { padding: 0; }

.main_wrapper .n_main .img-text .img-text-body .img_text_top { border-bottom: 1px solid #dce4ec; height: 62px; padding: 15px 39px; }

.main_wrapper .n_main .img-text .img-text-body .img_text_top .search_box { width: 382px; height: 37px; border: 1px solid #dddddd; }

.main_wrapper .n_main .img-text .img-text-body .img_text_top .search_box .search_img_text { width: 345px; height: 34px; border-right: 1px solid #dddddd; line-height: 35px; text-indent: 10px; }

.main_wrapper .n_main .img-text .img-text-body .img_text_top .search_box .img_search_icon { display: inline-block; width: 30px; height: 37px; position: relative; }

.main_wrapper .n_main .img-text .img-text-body .img_text_top .search_box .img_search_icon img { display: inline-block; position: absolute; left: 5px; top: 6px; }

.main_wrapper .n_main .img-text .img-text-body .img_text_top .add_new_img_text a { display: inline-block; width: 147px; height: 37px; line-height: 37px; text-align: center; background: #0091ea; border-radius: 3px; color: #fff; }

.main_wrapper .n_main .img-text .img-text-body .img_text_top .add_new_img_text a img { margin-right: 5px; }

.main_wrapper .n_main .img-text .img-text-body .img_text_main { height: 413px; padding-left: 76px; padding-bottom: 55px; overflow-y: auto; }

.main_wrapper .n_main .img-text .img-text-body .img_text_main .img_text_main_list { width: 315px; margin-right: 20px; }

.main_wrapper .n_main .img-text .img-text-body .img_text_main .img_text_item { display: inline-block; width: 315px; border: 1px solid #dce4ec; margin-top: 16px; padding: 0 10px; position: relative; }

.main_wrapper .n_main .img-text .img-text-body .img_text_main .img_text_item .img_text_item_time { line-height: 43px; color: #999999; border-bottom: 1px solid #dce4ec; }

.main_wrapper .n_main .img-text .img-text-body .img_text_main .img_text_item .img_text_item_time em { color: #ffbc48; margin-top: 10px; display: inline-block; }

.main_wrapper .n_main .img-text .img-text-body .img_text_main .img_text_item .incomplete_text { line-height: 20px; padding: 20px 0; }

.main_wrapper .n_main .img-text .img-text-body .img_text_main .img_text_item .img_text_item_tittle { line-height: 46px; color: #222222; }

.main_wrapper .n_main .img-text .img-text-body .img_text_main .img_text_item .img_text_item_image { margin-bottom: 30px; }

.main_wrapper .n_main .img-text .img-text-body .img_text_main .img_text_item .black_choose { display: none; position: absolute; left: 0; right: 0; top: 0; bottom: 0; border: 2px solid #5ab2f6; background: url(../image/gou.png) no-repeat center center; background-color: rgba(0, 0, 0, 0.6); }

.main_wrapper .n_main .img-text .img-text-body .img_text_main .img_text_item .black_not_choose { position: absolute; left: 0; right: 0; top: 0; bottom: 0; border: 2px solid #5ab2f6; background-color: rgba(0, 0, 0, 0.6); }

.main_wrapper .n_main .img-text .img-text-body .img_text_main .img_text_item .black_not_choose p { color: #fff; margin: auto; width: 220px; margin-top: 22%; }

.main_wrapper .n_main .img-text .img-text-body .img_text_main .img_text_item .black_not_choose p em { color: #0091ea; }

.main_wrapper .n_main .img-text .img-text-body .img_text_main .complete_item:hover .black_choose { display: block !important; }

.main_wrapper .n_main .img-text .img-text-footer { height: 80px; background: #f9fafb; text-align: center; padding: 20px; }

.main_wrapper .n_main .img-text .img-text-footer .btn { width: 110px; height: 37px; border-radius: 3px; }

.main_wrapper .n_main .img-text .img-text-footer .sure_choose { background: #0091ea; margin-right: 40px; color: #fff; }

.main_wrapper .n_main .n_main_box { width: 758px; height: 293px; margin: 0 auto; margin-top: 29px; border: 1px solid #dce4ec; }

.main_wrapper .n_main .n_main_area { width: 756px; height: 248px; border-bottom: 1px solid #dce4ec; padding: 14px; font-size: 14px; color: #222222; line-height: 30px; resize: none; }

.main_wrapper .n_main .n_main_emo { width: 20px; height: 20px; margin: 9px 0; margin-left: 28px; float: left; }

.main_wrapper .n_main .n_main_cout { float: right; line-height: 40px; font-size: 14px; color: #bbbbbb; margin-right: 26px; }

.main_wrapper .n_main .n_main_vidio { width: 836px; border-bottom: 1px solid #dce4ec; }

.main_wrapper .n_main .n_main_vidio .n_vidio_left { width: 150px; height: 436px; border-right: 1px solid #dce4ec; }

.main_wrapper .n_main .n_main_vidio .n_vidio_left .n_vidio_left_list { width: 150px; margin-top: 20px; }

.main_wrapper .n_main .n_main_vidio .n_vidio_left .n_vidio_left_list .n_vidio_left_item { margin-left: 30px; margin-bottom: 17px; }

.main_wrapper .n_main .n_main_vidio .n_vidio_left .n_vidio_left_list .n_vidio_left_item a { color: #7f96a3; font-size: 15px; }

.main_wrapper .n_main .n_main_vidio .n_vidio_left .n_vidio_left_list .n_vidio_left_item a .add_p { width: 14px; height: 14px; margin-right: 4px; padding-top: 1px; }

.main_wrapper .n_main .n_main_vidio .n_vidio_left .add_group_box { position: relative; }

.main_wrapper .n_main .n_main_vidio .n_vidio_left .add_group_box .add_group { width: 150px; color: #7f96a3; font-size: 15px; margin-left: 30px; }

.main_wrapper .n_main .n_main_vidio .n_vidio_left .add_group_box .add_group_container { width: 284px; height: 178px; position: absolute; left: -73px; top: 22px; background: url(../image/add_group.png) no-repeat; z-index: 99; }

.main_wrapper .n_main .n_main_vidio .n_vidio_left .add_group_box .add_group_container .add_group_span { font-size: 14px; margin-top: 32px; margin-left: 18px; }

.main_wrapper .n_main .n_main_vidio .n_vidio_left .add_group_box .add_group_container .add_group_text { width: 243px; height: 37px; line-height: 37px; border: 1px solid #dce4ec; margin-left: 18px; margin-top: 10px; padding-left: 12px; }

.main_wrapper .n_main .n_main_vidio .n_vidio_left .add_group_box .add_group_container .add_group_btn { margin-top: 17px; margin-left: 16px; }

.main_wrapper .n_main .n_main_vidio .n_vidio_left .add_group_box .add_group_container .add_group_btn .group_btn { display: inline-block; width: 111px; height: 37px; line-height: 37px; text-align: center; border-radius: 3px; }

.main_wrapper .n_main .n_main_vidio .n_vidio_left .add_group_box .add_group_container .add_group_btn .sure_group { background: #0091ea; color: #fff; margin-right: 20px; }

.main_wrapper .n_main .n_main_vidio .n_vidio_left .add_group_box .add_group_container .add_group_btn .cancel_group { width: 113px; height: 39px; color: #999999; border: 1px solid #dce4ec; }

.main_wrapper .n_main .n_main_vidio .n_vidio_right { margin-top: 20px; width: 686px; padding-left: 3px; position: relative; }

.main_wrapper .n_main .n_main_vidio .n_vidio_right .n_vidio_right_list { width: 150px; height: 160px; float: left; margin-left: 15px; margin-bottom: 12px; }

.main_wrapper .n_main .n_main_vidio .n_vidio_right .n_vidio_right_list .choose_video { display: inline-block; position: relative; border: 1px solid #dce4ec; width: 150px; height: 158px; }

.main_wrapper .n_main .n_main_vidio .n_vidio_right .n_vidio_right_list .choose_video .choosen { position: absolute; left: 0; top: 0; }

.main_wrapper .n_main .n_main_vidio .n_vidio_right .video_item .video_bottom { display: inline-block; width: 150px; height: 27px; border-top: 0; }

.main_wrapper .n_main .n_main_vidio .n_vidio_right .video_item .video_name { display: block; width: 140px; text-overflow: ellipsis; white-space: nowrap; font-size: 14px; color: #222222; line-height: 27px; padding-left: 10px; overflow: hidden; }

.main_wrapper .n_main .new_pic_box { width: 100%; }

.main_wrapper .n_main .new_pic_box .pic_box { width: 760px; height: 298px; border: 1px solid #dce4ec; margin: 30px auto; margin-bottom: 65px; resize: none; padding: 20px; overflow-y: auto; }

.main_wrapper .n_main .new_pic_box .pic_box .remove_pic { display: inline-block; margin-left: 15px; font-size: 14px; color: #0091ea; }

.main_wrapper .n_main .new_voice_box { width: 100%; }

.main_wrapper .n_main .new_voice_box .voice_box { width: 760px; height: 298px; border: 1px solid #dce4ec; margin: 30px auto; margin-bottom: 65px; resize: none; padding: 20px; overflow-y: auto; }

.main_wrapper .n_main .new_voice_box .voice_box .remove_voice { display: inline-block; margin-left: 15px; font-size: 14px; color: #0091ea; height: 68px; line-height: 121px; }

.main_wrapper .n_main .new_voice_box .voice_box .sent_new_voice { width: 300px; height: 68px; border: 1px solid #dce4ec; padding: 13px; }

.main_wrapper .n_main .new_voice_box .voice_box .sent_new_voice .play_voice { margin-right: 13px; }

.main_wrapper .n_main .new_voice_box .voice_box .sent_new_voice .new_voice_name { display: inline-block; width: 212px; margin: 5px 0; font-size: 14px; color: #222222; }

.main_wrapper .n_main .new_voice_box .voice_box .sent_new_voice .new_voice_length { font-size: 14px; color: #999999; }

.main_wrapper .n_main .new_video_box { width: 100%; }

.main_wrapper .n_main .new_video_box .video_box_new { width: 760px; height: 336px; border: 1px solid #dce4ec; margin: 30px auto; margin-bottom: 65px; resize: none; padding: 20px; overflow-y: auto; }

.main_wrapper .n_main .new_video_box .video_box_new .remove_video { display: inline-block; margin-left: 15px; font-size: 14px; color: #0091ea; margin-top: 280px; }

.main_wrapper .n_main .new_video_box .video_box_new .choosen_video_box { width: 344px; height: 294px; border: 1px solid #dce4ec; padding: 14px; }

.main_wrapper .n_main .new_video_box .video_box_new .video_tittle_p { font-size: 16px; color: #bbbbbb; line-height: 24px; }

.main_wrapper .n_main .new_video_box .video_box_new .video_main { position: relative; width: 319px; height: 214px; margin-top: 8px; }

.main_wrapper .n_main .new_video_box .video_box_new .video_main .video_main_span { display: inline-block; width: 319px; height: 35px; line-height: 35px; position: absolute; left: 0; bottom: 0; background: rgba(0, 0, 0, 0.6); }

.main_wrapper .n_main .new_video_box .video_box_new .video_main .video_main_span em { color: #fff; margin-right: 18px; }

.main_wrapper .n_main .n_main_addvoice { width: 100%; border-bottom: 1px solid #dce4ec; }

.main_wrapper .n_main .n_main_addvoice .addvoice_btn { display: inline-block; width: 118px; height: 35px; text-align: center; line-height: 35px; border-radius: 4px; background: #0091ea; color: #fff; margin: 12px 40px; }

.main_wrapper .n_main .n_main_addvoice .addvoice_btn img { padding-top: 1px; width: 14px; height: 14px; margin-right: 4px; }

.main_wrapper .n_main .n_vidio_right_page { margin-right: 37px; height: 31px; padding: 17px 0; margin-top: 10px; margin-bottom: 22px; width: 100%; }

.main_wrapper .n_main .n_vidio_right_page .next_page { display: inline-block; width: 37px; height: 37px; margin-left: 7px; margin-top: -10px; }

.main_wrapper .n_main .n_vidio_right_page .video_pages { width: 82px; height: 31px; border: 1px solid #dce4ec; margin-top: -7px; padding: 10px; line-height: 31px; }

.main_wrapper .n_main .n_vidio_right_page .change_page { display: inline-block; width: 48px; height: 31px; line-height: 31px; color: #666666; font-size: 14px; text-align: center; border: 1px solid #dce4ec; margin-top: -7px; margin-left: 3px; }

.main_wrapper .n_main .part5_page { padding: 0; margin-bottom: 10px; }

.main_wrapper .n_main .n_main_voice { width: 100%; height: 305px; padding-left: 35px; }

.main_wrapper .n_main .n_main_voice .n_main_voice_list { height: 308px; overflow-y: scroll; }

.main_wrapper .n_main .n_main_voice .n_main_voice_list .n_main_voice_item { width: 760px; height: 77px; border-bottom: 1px solid #dce4ec; font-size: 14px; color: #222222; }

.main_wrapper .n_main .n_main_voice .n_main_voice_list .n_main_voice_item .voice_check { width: 19px; height: 19px; background: url(../image/uncheck.png) no-repeat; }

.main_wrapper .n_main .n_main_voice .n_main_voice_list .n_main_voice_item .voice_check:checked { background: url(../image/check.png) no-repeat; }

.main_wrapper .n_main .n_main_voice .n_main_voice_list .n_main_voice_item .voice_name { display: inline-block; position: relative; height: 38px; width: 184px; line-height: 38px; margin-top: 19px; margin-right: 149px; }

.main_wrapper .n_main .n_main_voice .n_main_voice_list .n_main_voice_item .voice_name input.voice_check { visibility: hidden; position: absolute; top: 0; left: 0; z-index: 9; }

.main_wrapper .n_main .n_main_voice .n_main_voice_list .n_main_voice_item .voice_name label.check_label { display: inline-block; width: 19px; height: 19px; background: url(../image/uncheck.png) no-repeat; vertical-align: middle; }

.main_wrapper .n_main .n_main_voice .n_main_voice_list .n_main_voice_item .voice_name .voice_check:checked + label { background: url(../image/check.png) no-repeat; }

.main_wrapper .n_main .n_main_voice .n_main_voice_list .n_main_voice_item .voice_time { width: 88px; height: 38px; text-align: center; margin-right: 110px; line-height: 38px; margin-top: 19px; }

.main_wrapper .n_main .n_main_voice .n_main_voice_list .n_main_voice_item .voice_length { width: 65px; height: 38px; text-align: center; margin-right: 79px; line-height: 38px; margin-top: 19px; }

.main_wrapper .n_main .n_main_voice .n_main_voice_list .n_main_voice_item .voice_play { width: 38px; height: 38px; text-align: center; line-height: 38px; margin-top: 19px; }

.main_wrapper .n_main .n_main_video_tittle { width: 760px; height: 50px; border-bottom: 1px solid #dce4ec; margin: 0 38px; text-align: center; }

.main_wrapper .n_main .n_main_video_tittle .tittle_btn { display: inline-block; width: 108px; height: 50px; line-height: 50px; font-size: 16px; color: #7f96a3; text-align: center; }

.main_wrapper .n_main .n_main_video_tittle .active { color: #0091ea; border-bottom: 3px solid #0091ea; }

.main_wrapper .n_main .n_main_video_tittle .brand_btn { width: 118px; }

.main_wrapper .n_main .n_main_pic_tittle { width: 100%; margin: 0; }

.main_wrapper .n_main .n_main_pic_tittle .pic_tittle_btn { display: inline-block; width: 108px; height: 50px; line-height: 50px; font-size: 16px; color: #7f96a3; text-align: center; }

.main_wrapper .n_main .n_main_voice_tittle { width: 100%; height: 50px; border-bottom: 1px solid #dce4ec; text-align: center; }

.main_wrapper .n_main .n_main_voice_tittle .voice_tittle_btn { display: inline-block; width: 108px; height: 50px; line-height: 50px; font-size: 16px; color: #7f96a3; text-align: center; }

.main_wrapper .n_main .n_main_voice_tittle .active { color: #0091ea; border-bottom: 3px solid #0091ea; }

.main_wrapper .n_main .n_main_voice_tittle .brand_btn { width: 118px; }

.main_wrapper .n_main .big_voice_box { /* padding: 0 59px; */ color: #222222; font-size: 14px; border: 1px solid #dce4ec; }

.main_wrapper .n_main .big_voice_box .addnew_voice_form { margin: 0 auto; width: 610px; margin-top: 40px; }

.main_wrapper .n_main .big_voice_box .addnew_voice_form .voice_form_box { margin-bottom: 34px; }

.main_wrapper .n_main .big_voice_box .addnew_voice_form .voice_form_box .voice_form_label { width: 73px; }

.main_wrapper .n_main .big_voice_box .addnew_voice_form .voice_form_box .tag_label { height: 36px; line-height: 36px; }

.main_wrapper .n_main .big_voice_box .addnew_voice_form .voice_form_box .voice_type_span { color: #bbbbbb; }

.main_wrapper .n_main .big_voice_box .addnew_voice_form .voice_form_box .remind_span { color: #f24141; display: inline-block; margin-left: 73px; margin-top: 18px; }

.main_wrapper .n_main .big_voice_box .addnew_voice_form .voice_form_box .video_text { width: 412px; height: 36px; line-height: 36px; border: 1px solid #dce4ec; padding-left: 9px; border-radius: 2px; position: relative; }

.main_wrapper .n_main .big_voice_box .addnew_voice_form .voice_form_box .add_voice_up { position: relative; overflow: hidden; width: 100%; }

.main_wrapper .n_main .big_voice_box .addnew_voice_form .voice_form_box .add_voice_up .up_file { position: absolute; left: 73px; top: 11px; cursor: pointer; opacity: 0; filter: alpha(opacity=0); width: 109px; height: 35px; }

.main_wrapper .n_main .big_voice_box .addnew_voice_form .voice_form_box .add_voice_up .file_up_span { display: inline-block; width: 109px; height: 35px; border: 1px solid #dce4ec; text-align: center; line-height: 35px; margin-top: 11px; margin-left: 73px; border-radius: 2px; }

.main_wrapper .n_main .big_voice_box .addnew_voice_form .voice_form_box .voice_type_checkbox { width: 411px; }

.main_wrapper .n_main .big_voice_box .addnew_voice_form .voice_form_box .voice_type_checkbox .voice_type_list { margin-bottom: 15px; }

.main_wrapper .n_main .big_voice_box .addnew_voice_form .voice_form_box .voice_type_checkbox .voice_type_list .voice_type_item { position: relative; margin-right: 32px; }

.main_wrapper .n_main .big_voice_box .addnew_voice_form .voice_form_box .voice_type_checkbox .voice_type_list .voice_type_item .type_checkbox { position: absolute; width: 12px; height: 13px; visibility: hidden; top: 0; left: 0; }

.main_wrapper .n_main .big_voice_box .addnew_voice_form .voice_form_box .voice_type_checkbox .voice_type_list .voice_type_item label.type_label { position: absolute; top: 0; left: 0; display: inline-block; width: 12px; height: 13px; background: url(../image/uncheck_s.png) no-repeat; }

.main_wrapper .n_main .big_voice_box .addnew_voice_form .voice_form_box .voice_type_checkbox .voice_type_list .voice_type_item .type_checkbox:checked + label { background: url(../image/checked_s.png) no-repeat; }

.main_wrapper .n_main .big_voice_box .addnew_voice_form .voice_form_box .voice_type_checkbox .voice_type_list .voice_type_item span { display: inline-block; margin-left: 16px; }

.main_wrapper .n_main .big_voice_box .addnew_voice_form .voice_form_box .voice_type_checkbox .no_bott { margin-bottom: 0; }

.main_wrapper .n_main .big_voice_box .addnew_voice_form .cout { position: relative; width: 491px; }

.main_wrapper .n_main .big_voice_box .addnew_voice_form .cout .cout_words { color: #bbbbbb; position: absolute; right: 0; top: 0; line-height: 36px; margin-right: 12px; }

.main_wrapper .n_main .n_main_video { width: 760px; height: 345px; margin: 20px auto; margin-bottom: 0; padding-left: 13px; }

.main_wrapper .n_main .n_main_video .n_main_video_item { display: inline-block; width: 238px; height: 160px; border: 1px solid #dce4ec; float: left; margin-right: 11px; margin-bottom: 14px; position: relative; }

.main_wrapper .n_main .n_main_video .n_main_video_item .play { position: absolute; width: 74px; height: 53px; left: 50%; top: 50%; margin-left: -36px; margin-top: -26px; z-index: 99; }

.main_wrapper .n_main .n_main_video .n_main_video_item .video_choosen { display: inline-block; position: absolute; left: 0; top: 0; width: 238px; height: 160px; border: 2px solid #68bcfd; background: rgba(0, 0, 0, 0.6); z-index: 100; }

.main_wrapper .n_main .n_main_video .n_main_video_item .video_choosen img { position: absolute; left: 50%; top: 50%; width: 50px; height: 35px; margin-left: -25px; margin-top: -17px; }

.main_wrapper .n_main .n_main_video .no_bor { border: 0; background: url(../image/add_v.png) no-repeat; }

.main_wrapper .n_main .n_main_video_btn { width: 100%; height: 80px; background: #f9fafb; border-top: 1px solid #dce4ec; text-align: center; line-height: 80px; }

.main_wrapper .n_main .n_main_video_btn .video_btn { display: inline-block; width: 112px; height: 35px; line-height: 35px; background: #0091ea; color: #fff; border-radius: 4px; text-align: center; font-size: 14px; margin-left: 40px; }

.main_wrapper .n_main .n_main_video_btn .del_btn { width: 114px; height: 37px; line-height: 37px; background: #fff; color: #999999; border: 1px solid #999999; }

.main_wrapper .chat_log { padding: 0 39px; padding-bottom: 50px; }

.main_wrapper .chat_log .chat_log_p { margin-bottom: 18px; }

.main_wrapper .chat_log .chat_log_box .chat_log_item { border: 1px solid #d2d2d2; width: 760px; height: 128px; padding: 0 20px; padding-top: 22px; margin-bottom: 20px; }

.main_wrapper .chat_log .chat_log_box .chat_log_item .chat_head_img { margin-right: 24px; }

.main_wrapper .chat_log .chat_log_box .chat_log_item .chat_time { margin-right: 169px; color: #999999; }

.main_wrapper .chat_log .chat_log_box .chat_log_item .chat_main { width: 640px; height: 71px; margin-top: 7px; vertical-align: top; }

.main_wrapper .chat_log .chat_log_box .chat_log_item .chat_main img { margin-right: 8px; }

.main_wrapper .chat_log .chat_log_box .chat_log_item .chat_main .video_img { position: relative; }

.main_wrapper .chat_log .chat_log_box .chat_log_item .chat_main .video_img:before { content: ''; width: 70px; height: 70px; background: rgba(0, 0, 0, 0.3); position: absolute; }

.main_wrapper .chat_log .chat_log_box .chat_log_item .chat_main .video_img:after { content: ''; width: 21px; height: 25px; background: url(../image/small_play.png) no-repeat; position: absolute; left: 25px; top: 25px; }

.main_wrapper .chat_log .chat_log_box .chat_log_item .chat_main span { line-height: 22px; }

.main_wrapper .chat_log .chat_log_box .chat_log_item .chat_main span em { color: #999999; }

.main_wrapper .chat_log .message_list_box .message_item { width: 760px; height: 80px; border: 1px solid #dddddd; margin-bottom: 10px; }

.main_wrapper .chat_log .message_list_box .message_item .item_img_box { padding: 10px; }

.main_wrapper .chat_log .message_list_box .message_item .item_main_box { margin-left: 17px; padding: 16px 0; margin-right: 38px; }

.main_wrapper .chat_log .message_list_box .message_item .item_main_box span { display: inline-block; text-align: center; line-height: 22px; }

.main_wrapper .chat_log .message_list_box .message_item .item_main_box .long_list { width: 252px; text-align: left; }

.main_wrapper .chat_log .message_list_box .message_item .item_main_box .small_list { width: 68px; margin-right: 39px; }

.main_wrapper .chat_log .message_list_box .message_item .item_main_box .item_state { width: 52px; }

.main_wrapper .chat_log .message_list_box .message_item .item_btn_box { width: 195px; padding: 23px 0; }

.main_wrapper .chat_log .message_list_box .message_item .item_btn_box .item_btn { display: inline-block; width: 89px; height: 31px; line-height: 30px; text-align: center; border-radius: 5px; }

.main_wrapper .chat_log .message_list_box .message_item .item_btn_box .keep_btn { color: #ffa800; border: 1px solid #ffa800; margin-right: 12px; }

.main_wrapper .chat_log .message_list_box .message_item .item_btn_box .keep_active { background: #fff8ea; }

.main_wrapper .chat_log .message_list_box .message_item .item_btn_box .callback_btn { color: #0091ea; border: 1px solid #0091ea; }

@media (min-width: 768px) { .modal-dialog { width: 820px; margin: 30px auto; } }

.add_video { border-radius: 0; width: 820px; }

.add_video .add_video_header { height: 52px; background: #f9fafb; color: #7f96a3; }

.add_video .add_video_header .close { margin-top: -20px; }

.add_video .add_video_header .close span { font-size: 57px; }

.add_video .add_video_form { margin: 0 38px; font-size: 14px; }

.add_video .add_video_form .add_video_box { margin-bottom: 22px; }

.add_video .add_video_form .add_video_box .add_video_label { width: 80px; height: 35px; font-size: 14px; line-height: 35px; color: #222222; }

.add_video .add_video_form .add_video_box .video_label { line-height: 20px; }

.add_video .add_video_form .add_video_box .tag_label { position: relative; }

.add_video .add_video_form .add_video_box .tag_label .remind_img { position: absolute; top: 11px; left: 32px; width: 14px; height: 14px; cursor: pointer; }

.add_video .add_video_form .add_video_box .video_span { display: inline-block; width: 625px; font-size: 14px; color: #bbbbbb; line-height: 20px; position: relative; }

.add_video .add_video_form .add_video_box .video_span .format { color: #0091ea; }

.add_video .add_video_form .add_video_box .video_span .format_box { position: absolute; left: 270px; width: 390px; height: 256px; background: url(../image/format_box.png) no-repeat; z-index: 999; }

.add_video .add_video_form .add_video_box .video_span .format_box .format_list { width: 390px; height: 256px; padding-left: 16px; padding-top: 24px; font-size: 14px; color: #222222; line-height: 22px; }

.add_video .add_video_form .add_video_box .video_span .remind_imgs { position: absolute; top: 3px; left: 200px; width: 14px; height: 14px; cursor: pointer; }

.add_video .add_video_form .add_video_box .add_video_up { position: relative; overflow: hidden; }

.add_video .add_video_form .add_video_box .add_video_up .up_file { position: absolute; left: 80px; top: 11px; cursor: pointer; opacity: 0; filter: alpha(opacity=0); width: 136px; height: 35px; }

.add_video .add_video_form .add_video_box .add_video_up .file_up_span { display: inline-block; width: 136px; height: 35px; border: 1px solid #dce4ec; text-align: center; line-height: 35px; margin-top: 11px; margin-left: 80px; border-radius: 2px; }

.add_video .add_video_form .add_video_box .video_text { width: 410px; height: 35px; line-height: 35px; border: 1px solid #dce4ec; padding-left: 9px; border-radius: 2px; position: relative; }

.add_video .add_video_form .add_video_box .tag_text { width: 6em; border: 0; }

.add_video .add_video_form .add_video_box .tag_text_box { position: relative; width: 570px; border: 1px solid #dce4ec; }

.add_video .add_video_form .add_video_box .tag_text_box .tag_a { display: inline-block; height: 22px; padding-left: 5px; padding-right: 5px; margin: 6px 0; margin-left: 10px; background-color: #f4f5f9; color: #222222; font-size: 14px; }

.add_video .add_video_form .add_video_box .tag_text_box .tag_a span { display: inline-block; height: 22px; line-height: 22px; }

.add_video .add_video_form .add_video_box .tag_text_box .tag_a .del_img { margin: 6px 6px; }

.add_video .add_video_form .add_video_box .tag_text_box .tag_a .delete_img { margin: 3px 3px; }

.add_video .add_video_form .add_video_box .select .select_text { width: 100px; height: 35px; line-height: 35px; border: 1px solid #dce4ec; border-radius: 2px; padding-left: 12px; cursor: pointer; background: url(../image/select_small.png) no-repeat 80px 15px; }

.add_video .add_video_form .add_video_box .select .select_list { width: 100px; position: relative; z-index: 999; }

.add_video .add_video_form .add_video_box .select .select_list ul { border: 1px solid #dce4ec; border-top: 0; position: absolute; left: 0; top: 0; width: 100px; background: #fff; }

.add_video .add_video_form .add_video_box .select .select_list ul .select_list_item { padding-left: 12px; height: 30px; line-height: 30px; cursor: pointer; }

.add_video .add_video_form .add_video_box #video_area { width: 570px; height: 122px; border: 1px solid #dce4ec; border-radius: 2px; resize: none; padding: 12px; line-height: 20px; }

.add_video .add_video_form .add_video_box .area_count { display: inline-block; width: 650px; text-align: right; color: #bbbbbb; margin-top: 5px; }

.add_video .add_video_form .video_box_tag { position: relative; }

.add_video .add_video_form .video_box_tag .tag_box { position: absolute; left: 0; top: 30px; margin-left: -3px; width: 298px; height: 102px; background: url(../image/tag.png) no-repeat; }

.add_video .add_video_form .video_box_tag .tag_box span { display: inline-block; margin-top: 25px; padding-left: 16px; padding-right: 16px; line-height: 22px; font-size: 14px; color: #222222; }

.add_video .add_video_form .process_remind { position: relative; }

.add_video .add_video_form .process_remind .process_box { position: absolute; left: 284px; top: 18px; width: 474px; height: 168px; z-index: 999; background: url(../image/process.png) no-repeat; text-align: left; }

.add_video .add_video_form .process_remind .process_box ul { width: 474px; padding: 18px; line-height: 23px; }

.add_video .add_video_form .cout { position: relative; width: 491px; }

.add_video .add_video_form .cout .cout_words { color: #bbbbbb; position: absolute; right: 0; top: 0; line-height: 35px; margin-right: 12px; }

.add_video .add_video_form .remind { width: 570px; margin-left: 80px; text-align: center; margin-bottom: 32px; }

.add_video .add_video_form .remind p { color: #bbbbbb; }

.add_video .add_video_form .remind p em { color: #0091ea; cursor: pointer; }

.add_video .add_video_form .remind span { color: #222222; }

.add_video .add_video_form .remind span a { color: #0091ea; }

.add_video .add_video_form .agree_check { width: 14px; height: 14px; margin-top: 0; background: url(../image/c_uncheck.png) no-repeat; }

.add_video .add_video_form .agree_check:checked { background: url(../image/c_check.png) no-repeat; }

.add_video .add_video_form .check_rem { position: relative; }

.add_video .add_video_form .check_rem input.agree_check { visibility: hidden; position: absolute; top: 0; left: 143px; z-index: 9; }

.add_video .add_video_form .check_rem label.agree_label { display: inline-block; width: 14px; height: 14px; margin-top: -2px; background: url(../image/c_uncheck.png) no-repeat; vertical-align: middle; }

.add_video .add_video_form .check_rem .agree_check:checked + label { background: url(../image/c_check.png) no-repeat; }

.add_video .add_video_form .no_bott { margin-bottom: 0; position: relative; }

.add_video .add_video_form .no_bott .cover_box { position: absolute; left: 244px; top: 22px; width: 299px; height: 104px; z-index: 999; background: url(../image/cover.png) no-repeat; }

.add_video .add_video_form .no_bott .cover_box span { display: inline-block; margin-top: 26px; padding-left: 18px; padding-right: 18px; line-height: 20px; }

.add_video .add_video_footer { height: 124px; line-height: 124px; margin: 0 38px; text-align: center; padding: 0; }

.add_video .add_video_footer .add_sure_btn { width: 110px; height: 37px; background: #dddddd; color: #222222; font-size: 14px; border: 0; margin-right: 38px; }

.add_video .add_video_footer .sure_active { color: #fff; background: #0091ea; }

.add_video .add_video_footer .add_del_btn { width: 112px; height: 39px; background: #fff; color: #999999; font-size: 14px; border: 1px solid #999999; }

.message_top { width: 100%; height: 51px; line-height: 51px; font-size: 16px; border-bottom: 1px solid #dddddd; }

.message_top .message_top_item { padding: 0 35px; color: #7f96a3; cursor: pointer; }

.message_top .active { color: #0091ea; background: #f9fafb; border-right: 1px solid #dddddd; height: 50px; }

.message_top .message_top_search { margin-right: 30px; width: 320px; height: 51px; position: relative; }

.message_top .message_top_search:after { content: ''; position: absolute; right: 9px; top: 15px; width: 22px; height: 22px; background: url(../image/search.png) no-repeat; cursor: pointer; }

.message_top .message_top_search .search_text { display: block; width: 320px; height: 34px; line-height: 34px; text-indent: 10px; border: 1px solid #dddddd; margin: 8px 0; border-radius: 2px; }

.message_main .select_keep_time { padding: 20px 29px; }

.message_main .select_keep_time .select_date { width: 150px; height: 40px; line-height: 40px; font-size: 14px; padding: 0 15px; border: 1px solid #dddddd; border-radius: 5px; }

.message_main .select_keep_time p { margin-top: 18px; }

.message_main .select_keep_time p em { color: #999999; }

.message_main .public_type { width: 222px; height: 38px; margin: 20px 23px; border: 1px solid #dce4ec; border-radius: 5px; }

.message_main .public_type .type_state { height: 38px; line-height: 38px; padding: 0 27px; color: #7f96a3; cursor: pointer; }

.message_main .public_type .active { color: #fff; background: #7f96a3; height: 37px; border-top-left-radius: 5px; border-bottom-left-radius: 5px; }

.message_main .public_type .active2 { color: #fff; background: #7f96a3; height: 37px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; margin-left: 5px; }

.message_main .set_sensitive { border: 1px solid #dddddd; color: #999999; margin: 20px 33px; width: 132px; height: 37px; text-align: center; line-height: 37px; font-size: 14px; cursor: pointer; }

.message_main .message_list_box { padding: 0 23px; }

.message_main .message_list_box .message_item { width: 790px; height: 80px; border: 1px solid #dddddd; margin-bottom: 10px; }

.message_main .message_list_box .message_item .item_img_box { padding: 10px; }

.message_main .message_list_box .message_item .item_main_box { margin-left: 17px; padding: 16px 0; margin-right: 62px; }

.message_main .message_list_box .message_item .item_main_box span { display: inline-block; text-align: center; line-height: 22px; }

.message_main .message_list_box .message_item .item_main_box .long_list { width: 252px; text-align: left; }

.message_main .message_list_box .message_item .item_main_box .small_list { width: 68px; margin-right: 39px; }

.message_main .message_list_box .message_item .item_main_box .item_state { width: 52px; }

.message_main .message_list_box .message_item .item_btn_box { width: 195px; padding: 23px 0; }

.message_main .message_list_box .message_item .item_btn_box .item_btn { display: inline-block; width: 89px; height: 31px; line-height: 30px; text-align: center; border-radius: 5px; }

.message_main .message_list_box .message_item .item_btn_box .keep_btn { color: #ffa800; border: 1px solid #ffa800; margin-right: 12px; }

.message_main .message_list_box .message_item .item_btn_box .keep_active { background: #fff8ea; }

.message_main .message_list_box .message_item .item_btn_box .callback_btn { color: #0091ea; border: 1px solid #0091ea; }

.n_change_right_page { position: absolute; bottom: 22px; right: 21px; padding-top: 20px; width: 100%; }

.n_change_right_page .n_change_box { height: 37px; }

.n_change_right_page .next_page { display: inline-block; width: 31px; height: 31px; margin-top: -7px; margin-left: 3px; }

.n_change_right_page .page_btn { margin: 0 3px; }

.n_change_right_page .video_pages { width: 82px; height: 31px; border: 1px solid #dce4ec; margin-top: -7px; padding: 10px; line-height: 31px; }

.n_change_right_page .change_page { display: inline-block; width: 48px; height: 31px; line-height: 31px; color: #666666; font-size: 14px; text-align: center; border: 1px solid #dce4ec; margin-top: -7px; margin-left: 3px; }

.n_change_right_page2 { position: relative; bottom: 0; }

.sensitive_box { padding: 0 23px; }

.sensitive_box .sensitive_top { vertical-align: middle; height: 26px; margin: 16px 0; }

.sensitive_box .sensitive_top .sensitive_top_img { cursor: pointer; }

.sensitive_box .sensitive_top .sensitive_top_span { display: inline-block; height: 26px; line-height: 26px; margin-left: 10px; color: #bbbbbb; }

.sensitive_box .sensitive_top .sensitive_top_span em { color: #222222; }

.sensitive_box .sensitive_main { border: 1px solid #dce4ec; width: 790px; margin-top: 30px; }

.sensitive_box .sensitive_main .add_sensitive_word { padding: 10px 24px; }

.sensitive_box .sensitive_main .add_sensitive_word img { margin-right: 5px; }

.sensitive_box .sensitive_main .add_sensitive_word .add_words { display: inline-block; width: 135px; height: 38px; text-align: center; background: #0091ea; line-height: 38px; color: #fff; border-radius: 3px; }

.sensitive_box .sensitive_main .sensitive_word_box { border-top: 1px solid #dce4ec; padding: 22px 28px; }

.sensitive_box .sensitive_main .sensitive_word_box .sensitive_word_span { display: inline-block; height: 32px; line-height: 32px; font-size: 16px; }

.sensitive_box .sensitive_main .sensitive_word_box .sensitive_word_btn .sensitive_btn { display: inline-block; width: 86px; height: 32px; line-height: 32px; border-radius: 5px; border: 1px solid; text-align: center; }

.sensitive_box .sensitive_main .sensitive_word_box .sensitive_word_btn .edit_btn { border-color: #47b4b1; color: #47b4b1; margin-right: 12px; }

.sensitive_box .sensitive_main .sensitive_word_box .sensitive_word_btn .delete_btn { border-color: #f1565e; color: #f1565e; }

.sensitive_box .sensitive_main .sensitive_word_box .sensitive_word_btn .sure_btn { border-color: #0091ea; color: #0091ea; margin-right: 12px; }

.sensitive_box .sensitive_main .sensitive_word_box .sensitive_word_btn .cancel_btn { border-color: #999999; color: #999999; }

.sensitive_box .sensitive_main .sensitive_word_box .sensitive_word_input { width: 409px; height: 36px; line-height: 36px; border: 1px solid #dce4ec; text-indent: 10px; font-size: 16px; color: #bbbbbb; }

.collection_box .collection_info { margin-top: 40px; margin-left: 23px; margin-bottom: 18px; color: #999999; }

.search_result_box .search_p { margin-top: 43px; margin-bottom: 20px; margin-left: 23px; }

.search_result_box .search_p em { color: #bbbbbb; }

.search_result_box .no_message { width: 100%; text-align: center; color: #bbbbbb; margin-top: 126px; }

.black_wrapper { position: fixed; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0, 0, 0, 0.5); }

.sensitive_word_wrapper { position: absolute; width: 509px; height: 270px; background: #fff; left: 50%; top: 50%; margin-left: -208px; margin-top: -135px; }

.sensitive_word_wrapper .sensitive_word_text { width: 400px; height: 35px; border: 1px solid #dddddd; text-indent: 10px; margin: 0 55px; margin-top: 70px; margin-bottom: 60px; }

.sensitive_word_wrapper .sensitive_word_a { margin: 0 126px; }

.sensitive_word_wrapper .sensitive_word_a .sensitive_btn { display: inline-block; width: 110px; height: 36px; line-height: 36px; text-align: center; }

.sensitive_word_wrapper .sensitive_word_a .sure_creat { background: #0091ea; color: #fff; margin-right: 32px; }

.sensitive_word_wrapper .sensitive_word_a .cancel_creat { border: 1px solid #dddddd; color: #dddddd; height: 38px; }

.voice .voice_content { /* height: 548px; */ }

.voice .voice_header { height: 51px; padding: 0; }

.voice .voice_header .voice_tittle, .voice .voice_header .vote_tittle, .voice .voice_header .picture_tittle { width: 140px; height: 51px; text-align: center; line-height: 51px; color: #7f96a3; font-size: 16px; border-right: 1px solid #dce4ec; cursor: pointer; }

.voice .voice_header .voice_tittle.active, .voice .voice_header .vote_tittle.active, .voice .voice_header .picture_tittle.active { background: #f9fafb; color: #0091ea; height: 50px; }

.voice .voice_header .close { margin-right: 15px; margin-top: 12px; }

.voice .addnew_voice { padding: 0 59px; color: #222222; font-size: 14px; }

.voice .addnew_voice .addnew_voice_form { margin-top: 20px; }

.voice .addnew_voice .addnew_voice_form .voice_form_box { margin-bottom: 34px; }

.voice .addnew_voice .addnew_voice_form .voice_form_box .voice_form_label { width: 73px; }

.voice .addnew_voice .addnew_voice_form .voice_form_box .tag_label { height: 36px; line-height: 36px; }

.voice .addnew_voice .addnew_voice_form .voice_form_box .voice_type_span { color: #bbbbbb; }

.voice .addnew_voice .addnew_voice_form .voice_form_box .remind_span { width: 100%; color: #f24141; display: inline-block; margin-left: 73px; margin-top: 28px; }

.voice .addnew_voice .addnew_voice_form .voice_form_box .addnew_voice_text { width: 412px; height: 36px; line-height: 36px; border: 1px solid #dce4ec; padding-left: 9px; border-radius: 2px; position: relative; }

.voice .addnew_voice .addnew_voice_form .voice_form_box .add_voice_up { position: relative; overflow: hidden; width: 100%; }

.voice .addnew_voice .addnew_voice_form .voice_form_box .add_voice_up .up_file { position: absolute; left: 73px; top: 11px; cursor: pointer; opacity: 0; filter: alpha(opacity=0); width: 109px; height: 35px; }

.voice .addnew_voice .addnew_voice_form .voice_form_box .add_voice_up .file_up_span { display: inline-block; width: 109px; height: 35px; border: 1px solid #dce4ec; text-align: center; line-height: 35px; margin-top: 11px; margin-left: 73px; border-radius: 2px; }

.voice .addnew_voice .addnew_voice_form .voice_form_box .voice_type_checkbox { width: 411px; }

.voice .addnew_voice .addnew_voice_form .voice_form_box .voice_type_checkbox .voice_type_list { margin-bottom: 15px; }

.voice .addnew_voice .addnew_voice_form .voice_form_box .voice_type_checkbox .voice_type_list .voice_type_item { position: relative; margin-right: 32px; }

.voice .addnew_voice .addnew_voice_form .voice_form_box .voice_type_checkbox .voice_type_list .voice_type_item .type_checkbox { position: absolute; width: 12px; height: 13px; visibility: hidden; top: 0; left: 0; }

.voice .addnew_voice .addnew_voice_form .voice_form_box .voice_type_checkbox .voice_type_list .voice_type_item label.type_label { position: absolute; top: 0; left: 0; display: inline-block; width: 12px; height: 13px; background: url(../image/uncheck_s.png) no-repeat; }

.voice .addnew_voice .addnew_voice_form .voice_form_box .voice_type_checkbox .voice_type_list .voice_type_item .type_checkbox:checked + label { background: url(../image/checked_s.png) no-repeat; }

.voice .addnew_voice .addnew_voice_form .voice_form_box .voice_type_checkbox .voice_type_list .voice_type_item span { display: inline-block; margin-left: 16px; }

.voice .addnew_voice .addnew_voice_form .voice_form_box .voice_type_checkbox .no_bott { margin-bottom: 0; }

.voice .addnew_voice .addnew_voice_form .cout { position: relative; width: 491px; }

.voice .addnew_voice .addnew_voice_form .cout .image_text_cout_words { color: #bbbbbb; position: absolute; right: 0; top: 0; line-height: 36px; margin-right: 12px; }

.voice .voice_body { padding: 0; }

.voice .voice_body .n_main_addvoice { width: 100%; border-bottom: 1px solid #dce4ec; }

.voice .voice_body .n_main_addvoice .addvoice_btn { display: inline-block; width: 118px; height: 35px; text-align: center; line-height: 35px; border-radius: 3px; background: #0091ea; color: #fff; margin: 8px 40px; }

.voice .voice_body .n_main_addvoice .addvoice_btn img { padding-top: 1px; width: 14px; height: 14px; margin-right: 4px; }

.voice .voice_body .n_main_voice { width: 100%; height: 305px; padding-left: 35px; }

.voice .voice_body .n_main_voice .n_main_voice_list { height: 308px; overflow-y: scroll; }

.voice .voice_body .n_main_voice .n_main_voice_list .n_main_voice_item { width: 760px; height: 77px; border-bottom: 1px solid #dce4ec; font-size: 14px; color: #222222; }

.voice .voice_body .n_main_voice .n_main_voice_list .n_main_voice_item .voice_check { width: 19px; height: 19px; background: url(../image/uncheck.png) no-repeat; }

.voice .voice_body .n_main_voice .n_main_voice_list .n_main_voice_item .voice_check:checked { background: url(../image/check.png) no-repeat; }

.voice .voice_body .n_main_voice .n_main_voice_list .n_main_voice_item .voice_name { display: inline-block; position: relative; height: 38px; width: 184px; line-height: 38px; margin-top: 19px; margin-right: 149px; }

.voice .voice_body .n_main_voice .n_main_voice_list .n_main_voice_item .voice_name input.voice_check { visibility: hidden; position: absolute; top: 0; left: 0; z-index: 9; }

.voice .voice_body .n_main_voice .n_main_voice_list .n_main_voice_item .voice_name label.check_label { display: inline-block; width: 19px; height: 19px; background: url(../image/uncheck.png) no-repeat; vertical-align: middle; }

.voice .voice_body .n_main_voice .n_main_voice_list .n_main_voice_item .voice_name .voice_check:checked + label { background: url(../image/check.png) no-repeat; }

.voice .voice_body .n_main_voice .n_main_voice_list .n_main_voice_item .voice_time { width: 88px; height: 38px; text-align: center; margin-right: 110px; line-height: 38px; margin-top: 19px; }

.voice .voice_body .n_main_voice .n_main_voice_list .n_main_voice_item .voice_length { width: 65px; height: 38px; text-align: center; margin-right: 79px; line-height: 38px; margin-top: 19px; }

.voice .voice_body .n_main_voice .n_main_voice_list .n_main_voice_item .voice_play { width: 38px; height: 38px; text-align: center; line-height: 38px; margin-top: 19px; cursor: pointer; }

.voice .voice_footer { width: 100%; text-align: center; background: #f9fafb; }

.voice .voice_footer .btn_sure { width: 113px; height: 35px; color: #fff; font-size: 14px; margin-right: 40px; border-radius: 3px; }

.voice .voice_footer .btn_close { width: 113px; height: 37px; color: #999999; border: 1px solid #999999; font-size: 14px; border-radius: 3px; }

.gray { color: #999999; }

.red { color: #f24141; }
