@charset "UTF-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font-weight: 400; vertical-align: baseline; background: transparent; list-style-type: none; }

html, body { font-family: "微软雅黑"; }

body { line-height: 1; min-width: 1200px; }

.container { width: 1200px; margin: 0 auto; padding: 0; }

:focus { outline: 1; }

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

nav ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

a { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

a { text-decoration: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted #000; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #cccccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

input, select, textarea { -webkit-tap-highlight-color: transparent; -webkit-appearance: none; -moz-appearance: none; appearance: none; border: 0; border-radius: 0; outline: none; }

em, i { font-style: normal; }

img { max-width: 100%; border: none; }

.cl:after, .clearfix:after { content: ""; display: block; height: 0; clear: both; visibility: hidden; }

.cl, .clearfix { *zoom: 1; }

.fl { float: left; }

.fr { float: right; }

.center { text-align: center; }

.hide { display: none !important; }

.show { display: block !important; }

.mgt30 { margin-top: 30px; }

.mgt20 { margin-top: 20px; }

.box { display: box; }

.no_margin { margin: 0 !important; }

body { background: #eff2f7; }

header { width: 100%; height: 110px; line-height: 110px; border-bottom: 1px solid #dee5ed; background: #fff; }

header .logo { padding-left: 50px; }

header .logo a { display: block; }

header .logo a img { vertical-align: middle; }

header .user_info { padding-right: 55px; position: relative; top: 45px; }

header .user_info p { font-size: 14px; color: #1c84dc; line-height: 1; text-align: right; }

header .user_info p a { color: #1c84dc; text-decoration: underline; }

header .user_info p:last-child { margin-top: 15px; }

.main { margin-top: 20px; }

.main .menu_nav { margin-left: 50px; width: 228px; height: 646px; background: #fff; border: 1px solid #dce4ec; }

.main .menu_nav_list li { height: 63px; line-height: 63px; }

.main .menu_nav_list li.menu_nav_list_bottom { height: 206px; }

.main .menu_nav_list li i { float: left; display: inline-block; width: 67px; height: 63px; border-right: 1px solid #dce4ec; border-bottom: 1px solid #dce4ec; }

.main .menu_nav_list li i.nav_icon_01 { background: url(../image/nav_icon_01.png) center no-repeat; background-color: #f9fafb; }

.main .menu_nav_list li i.nav_icon_02 { background: url(../image/nav_icon_02.png) center no-repeat; background-color: #f9fafb; }

.main .menu_nav_list li i.nav_icon_03 { background: url(../image/nav_icon_03.png) center no-repeat; background-color: #f9fafb; }

.main .menu_nav_list li i.nav_icon_04 { background: url(../image/nav_icon_04.png) center no-repeat; background-color: #f9fafb; }

.main .menu_nav_list li i.nav_icon_05 { background: url(../image/nav_icon_05.png) center no-repeat; background-color: #f9fafb; }

.main .menu_nav_list li i.nav_icon_06 { background: url(../image/nav_icon_06.png) center no-repeat; background-color: #f9fafb; }

.main .menu_nav_list li i.nav_icon_07 { background: url(../image/nav_icon_07.png) center no-repeat; background-color: #f9fafb; }

.main .menu_nav_list li i.nav_icon_bottom { display: block; height: 203px; background-color: #f9fafb; border-bottom: 0; }

.main .menu_nav_list li a { display: block; height: 63px; line-height: 63px; font-size: 16px; text-indent: 30px; color: #7f96a3; background: #fff; border-bottom: 1px solid #dce4ec; }

.main .menu_nav_list li a:link { text-decoration: none; }

.main .menu_nav_list li a:visited { text-decoration: none; }

.main .menu_nav_list li a:hover { text-decoration: none; color: #0091ea; }

.main .menu_nav_list li a:active { text-decoration: none; }

.main .menu_nav_list li a.active { color: #0091ea; }

.main .main_wrapper { width: 836px; margin-left: 12px; }

body { position: relative; }

a { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

.main_wrapper { background: #fff; border: 1px solid #dce4ec; }

.main_wrapper .n_tittle { width: 100%; height: 52px; border-bottom: 1px solid #dce4ec; }

.main_wrapper .n_tittle .a_btn { display: inline-block; width: 170px; height: 51px; line-height: 51px; font-size: 16px; color: #7f96a3; text-align: center; text-decoration: none; }

.main_wrapper .n_tittle .has_bor { border-right: 1px solid #dce4ec; border-left: 1px solid #dce4ec; }

.main_wrapper .n_tittle .choose { color: #0091ea; background: #f9fafb; }

.main_wrapper .n_type { width: 100%; }

.main_wrapper .n_type .n_type_list { height: 60px; width: 464px; margin: 0 auto; }

.main_wrapper .n_type .n_type_list .n_type_item { float: left; margin-right: 34px; height: 60px; line-height: 60px; text-align: center; }

.main_wrapper .n_type .n_type_list .n_type_item .n_type_btn { text-decoration: none; font-size: 14px; color: #7f96a3; }

.main_wrapper .n_type .n_type_list .n_type_item .n_type_btn:hover { color: #0091ea; }

.main_wrapper .n_type .n_type_list .n_type_item .n_type_btn.active { color: #0091ea; }

.main_wrapper .n_type .n_type_list .n_type_item .cho_icon1 { background: url(../image/cho_icon_01.png) no-repeat; padding-left: 20px; }

.main_wrapper .n_type .n_type_list .n_type_item .cho_icon1:hover { background: url(../image/cho_hov_01.png) no-repeat; }

.main_wrapper .n_type .n_type_list .n_type_item .cho_icon1.active { background: url(../image/cho_hov_01.png) no-repeat; }

.main_wrapper .n_type .n_type_list .n_type_item .cho_icon2 { background: url(../image/cho_icon_02.png) no-repeat; padding-left: 27px; }

.main_wrapper .n_type .n_type_list .n_type_item .cho_icon2:hover { background: url(../image/cho_hov_02.png) no-repeat; }

.main_wrapper .n_type .n_type_list .n_type_item .cho_icon2.active { background: url(../image/cho_hov_02.png) no-repeat; }

.main_wrapper .n_type .n_type_list .n_type_item .cho_icon3 { background: url(../image/cho_icon_03.png) no-repeat; padding-left: 27px; }

.main_wrapper .n_type .n_type_list .n_type_item .cho_icon3:hover { background: url(../image/cho_hov_03.png) no-repeat; }

.main_wrapper .n_type .n_type_list .n_type_item .cho_icon3.active { background: url(../image/cho_hov_03.png) no-repeat; }

.main_wrapper .n_type .n_type_list .n_type_item .cho_icon4 { background: url(../image/cho_icon_04.png) no-repeat; padding-left: 20px; }

.main_wrapper .n_type .n_type_list .n_type_item .cho_icon4:hover { background: url(../image/cho_hov_04.png) no-repeat; }

.main_wrapper .n_type .n_type_list .n_type_item .cho_icon4.active { background: url(../image/cho_hov_04.png) no-repeat; }

.main_wrapper .n_type .n_type_list .n_type_item .cho_icon5 { background: url(../image/cho_icon_05.png) no-repeat; padding-left: 24px; }

.main_wrapper .n_type .n_type_list .n_type_item .cho_icon5:hover { background: url(../image/cho_hov_05.png) no-repeat; }

.main_wrapper .n_type .n_type_list .n_type_item .cho_icon5.active { background: url(../image/cho_hov_05.png) no-repeat; }

.main_wrapper .n_type .n_type_list .n_type_item:last-child { margin-right: 0px; }

.main_wrapper .n_main { /* width: 758px; height: 290px; */ margin: 0 auto; }

.main_wrapper .n_main .n_main_box { width: 758px; height: 293px; margin: 0 auto; margin-top: 29px; margin-bottom: 68px; border: 1px solid #dce4ec; }

.main_wrapper .n_main .n_main_area { width: 756px; height: 248px; border-bottom: 1px solid #dce4ec; padding: 14px; font-size: 14px; color: #222222; line-height: 30px; resize: none; }

.main_wrapper .n_main .n_main_emo { width: 20px; height: 20px; margin: 9px 0; margin-left: 28px; float: left; }

.main_wrapper .n_main .n_main_cout { float: right; line-height: 40px; font-size: 14px; color: #bbbbbb; margin-right: 26px; }

.main_wrapper .n_main .n_main_vidio { width: 836px; height: 436px; border-top: 1px solid #dce4ec; }

.main_wrapper .n_main .n_main_vidio .n_vidio_left { width: 150px; height: 436px; border-right: 1px solid #dce4ec; }

.main_wrapper .n_main .n_main_vidio .n_vidio_left .n_vidio_left_list { width: 150px; margin-top: 20px; }

.main_wrapper .n_main .n_main_vidio .n_vidio_left .n_vidio_left_list .n_vidio_left_item { margin-left: 30px; margin-bottom: 17px; }

.main_wrapper .n_main .n_main_vidio .n_vidio_left .n_vidio_left_list .n_vidio_left_item a { color: #7f96a3; font-size: 15px; }

.main_wrapper .n_main .n_main_vidio .n_vidio_left .n_vidio_left_list .n_vidio_left_item a .add_p { width: 14px; height: 14px; margin-right: 4px; padding-top: 1px; }

.main_wrapper .n_main .n_main_vidio .n_vidio_right { margin-top: 20px; width: 686px; height: 336px; padding-left: 3px; position: relative; }

.main_wrapper .n_main .n_main_vidio .n_vidio_right .n_vidio_right_list { width: 150px; height: 160px; float: left; margin-left: 15px; margin-bottom: 12px; }

.main_wrapper .n_main .n_main_vidio .n_vidio_right .n_vidio_right_list .choose_video { display: inline-block; position: relative; border: 1px solid #dce4ec; width: 150px; height: 158px; }

.main_wrapper .n_main .n_main_vidio .n_vidio_right .n_vidio_right_list .choose_video .choosen { position: absolute; left: 0; top: 0; }

.main_wrapper .n_main .n_main_vidio .n_vidio_right .video_item .video_bottom { display: inline-block; width: 150px; height: 27px; border-top: 0; }

.main_wrapper .n_main .n_main_vidio .n_vidio_right .video_item .video_name { display: block; width: 140px; text-overflow: ellipsis; white-space: nowrap; font-size: 14px; color: #222222; line-height: 27px; padding-left: 10px; overflow: hidden; }

.main_wrapper .n_main .n_main_addvoice { width: 100%; border-top: 1px solid #dce4ec; border-bottom: 1px solid #dce4ec; }

.main_wrapper .n_main .n_main_addvoice .addvoice_btn { display: inline-block; width: 118px; height: 35px; text-align: center; line-height: 35px; border-radius: 4px; background: #0091ea; color: #fff; margin: 12px 40px; }

.main_wrapper .n_main .n_main_addvoice .addvoice_btn img { padding-top: 1px; width: 14px; height: 14px; margin-right: 4px; }

.main_wrapper .n_main .n_vidio_right_page { margin-right: 37px; height: 31px; padding: 17px 0; margin-top: 10px; margin-bottom: 22px; }

.main_wrapper .n_main .n_vidio_right_page .next_page { display: inline-block; width: 37px; height: 37px; margin-left: 7px; margin-top: -10px; }

.main_wrapper .n_main .n_vidio_right_page .video_pages { width: 82px; height: 31px; border: 1px solid #dce4ec; margin-top: -7px; padding: 10px; line-height: 31px; }

.main_wrapper .n_main .n_vidio_right_page .change_page { display: inline-block; width: 48px; height: 31px; line-height: 31px; color: #666666; font-size: 14px; text-align: center; border: 1px solid #dce4ec; margin-top: -7px; margin-left: 3px; }

.main_wrapper .n_main .part5_page { padding: 0; margin-bottom: 10px; }

.main_wrapper .n_main .n_main_voice { width: 100%; height: 305px; padding-left: 35px; }

.main_wrapper .n_main .n_main_voice .n_main_voice_list { height: 308px; overflow-y: scroll; }

.main_wrapper .n_main .n_main_voice .n_main_voice_list .n_main_voice_item { width: 760px; height: 77px; border-bottom: 1px solid #dce4ec; font-size: 14px; color: #222222; }

.main_wrapper .n_main .n_main_voice .n_main_voice_list .n_main_voice_item .voice_check { width: 19px; height: 19px; background: url(../image/uncheck.png) no-repeat; }

.main_wrapper .n_main .n_main_voice .n_main_voice_list .n_main_voice_item .voice_check:checked { background: url(../image/check.png) no-repeat; }

.main_wrapper .n_main .n_main_voice .n_main_voice_list .n_main_voice_item .voice_name { display: inline-block; position: relative; height: 38px; width: 184px; line-height: 38px; margin-top: 19px; margin-right: 149px; }

.main_wrapper .n_main .n_main_voice .n_main_voice_list .n_main_voice_item .voice_name input.voice_check { visibility: hidden; position: absolute; top: 0; left: 0; z-index: 9; }

.main_wrapper .n_main .n_main_voice .n_main_voice_list .n_main_voice_item .voice_name label.check_label { display: inline-block; width: 19px; height: 19px; background: url(../image/uncheck.png) no-repeat; vertical-align: middle; }

.main_wrapper .n_main .n_main_voice .n_main_voice_list .n_main_voice_item .voice_name .voice_check:checked + label { background: url(../image/check.png) no-repeat; }

.main_wrapper .n_main .n_main_voice .n_main_voice_list .n_main_voice_item .voice_time { width: 88px; height: 38px; text-align: center; margin-right: 110px; line-height: 38px; margin-top: 19px; }

.main_wrapper .n_main .n_main_voice .n_main_voice_list .n_main_voice_item .voice_length { width: 65px; height: 38px; text-align: center; margin-right: 79px; line-height: 38px; margin-top: 19px; }

.main_wrapper .n_main .n_main_voice .n_main_voice_list .n_main_voice_item .voice_play { width: 38px; height: 38px; text-align: center; line-height: 38px; margin-top: 19px; }

.main_wrapper .n_main .n_main_video_tittle { width: 760px; height: 50px; border-bottom: 1px solid #dce4ec; margin: 0 38px; text-align: center; }

.main_wrapper .n_main .n_main_video_tittle .tittle_btn { display: inline-block; width: 108px; height: 50px; line-height: 50px; font-size: 16px; color: #7f96a3; text-align: center; }

.main_wrapper .n_main .n_main_video_tittle .active { color: #0091ea; border-bottom: 3px solid #0091ea; }

.main_wrapper .n_main .n_main_video_tittle .brand_btn { width: 118px; }

.main_wrapper .n_main .n_main_video { width: 760px; height: 345px; margin: 20px auto; margin-bottom: 0; padding-left: 13px; }

.main_wrapper .n_main .n_main_video .n_main_video_item { display: inline-block; width: 238px; height: 160px; border: 1px solid #dce4ec; float: left; margin-right: 11px; margin-bottom: 14px; position: relative; }

.main_wrapper .n_main .n_main_video .n_main_video_item .play { position: absolute; width: 74px; height: 53px; left: 50%; top: 50%; margin-left: -36px; margin-top: -26px; z-index: 99; }

.main_wrapper .n_main .n_main_video .no_bor { border: 0; background: url(../image/add_v.png) no-repeat; }

.main_wrapper .n_main .n_main_video_btn { width: 100%; height: 80px; background: #f9fafb; border-top: 1px solid #dce4ec; text-align: center; line-height: 80px; }

.main_wrapper .n_main .n_main_video_btn .video_btn { display: inline-block; width: 112px; height: 35px; line-height: 35px; background: #0091ea; color: #fff; border-radius: 4px; text-align: center; font-size: 14px; margin-left: 40px; }

.main_wrapper .n_main .n_main_video_btn .del_btn { width: 114px; height: 37px; line-height: 37px; background: #fff; color: #999999; border: 1px solid #999999; }

@media (min-width: 768px) { .modal-dialog { width: 820px; margin: 30px auto; } }

.add_video { border-radius: 0; width: 820px; }

.add_video .add_video_header { height: 52px; background: #f9fafb; color: #7f96a3; }

.add_video .add_video_header .close { margin-top: -20px; }

.add_video .add_video_header .close span { font-size: 57px; }

.add_video .add_video_form { margin: 0 38px; font-size: 14px; }

.add_video .add_video_form .add_video_box { margin-bottom: 22px; }

.add_video .add_video_form .add_video_box .add_video_label { width: 80px; height: 35px; font-size: 14px; line-height: 35px; color: #222222; }

.add_video .add_video_form .add_video_box .video_label { line-height: 20px; }

.add_video .add_video_form .add_video_box .tag_label { position: relative; }

.add_video .add_video_form .add_video_box .tag_label .remind_img { position: absolute; top: 11px; left: 32px; width: 14px; height: 14px; cursor: pointer; }

.add_video .add_video_form .add_video_box .video_span { display: inline-block; width: 625px; font-size: 14px; color: #bbbbbb; line-height: 20px; position: relative; }

.add_video .add_video_form .add_video_box .video_span .format { color: #0091ea; }

.add_video .add_video_form .add_video_box .video_span .format_box { position: absolute; left: 270px; width: 390px; height: 256px; background: url(../image/format_box.png) no-repeat; z-index: 999; }

.add_video .add_video_form .add_video_box .video_span .format_box .format_list { width: 390px; height: 256px; padding-left: 16px; padding-top: 24px; font-size: 14px; color: #222222; line-height: 22px; }

.add_video .add_video_form .add_video_box .video_span .remind_imgs { position: absolute; top: 3px; left: 200px; width: 14px; height: 14px; cursor: pointer; }

.add_video .add_video_form .add_video_box .add_video_up { position: relative; overflow: hidden; }

.add_video .add_video_form .add_video_box .add_video_up .up_file { position: absolute; left: 80px; top: 11px; cursor: pointer; opacity: 0; filter: alpha(opacity=0); width: 136px; height: 35px; }

.add_video .add_video_form .add_video_box .add_video_up .file_up_span { display: inline-block; width: 136px; height: 35px; border: 1px solid #dce4ec; text-align: center; line-height: 35px; margin-top: 11px; margin-left: 80px; border-radius: 2px; }

.add_video .add_video_form .add_video_box .video_text { width: 410px; height: 35px; line-height: 35px; border: 1px solid #dce4ec; padding-left: 9px; border-radius: 2px; position: relative; }

.add_video .add_video_form .add_video_box .tag_text { width: 570px; }

.add_video .add_video_form .add_video_box .select .select_text { width: 100px; height: 35px; line-height: 35px; border: 1px solid #dce4ec; border-radius: 2px; padding-left: 12px; cursor: pointer; background: url(../image/select_small.png) no-repeat 80px 15px; }

.add_video .add_video_form .add_video_box .select .select_list { width: 100px; position: relative; z-index: 999; }

.add_video .add_video_form .add_video_box .select .select_list ul { border: 1px solid #dce4ec; border-top: 0; position: absolute; left: 0; top: 0; width: 100px; background: #fff; }

.add_video .add_video_form .add_video_box .select .select_list ul .select_list_item { padding-left: 12px; height: 30px; line-height: 30px; cursor: pointer; }

.add_video .add_video_form .add_video_box #video_area { width: 570px; height: 122px; border: 1px solid #dce4ec; border-radius: 2px; resize: none; padding: 12px; line-height: 20px; }

.add_video .add_video_form .add_video_box .area_count { display: inline-block; width: 650px; text-align: right; color: #bbbbbb; margin-top: 5px; }

.add_video .add_video_form .video_box_tag { position: relative; }

.add_video .add_video_form .video_box_tag .tag_box { position: absolute; left: 0; top: 30px; margin-left: -3px; width: 298px; height: 102px; background: url(../image/tag.png) no-repeat; }

.add_video .add_video_form .video_box_tag .tag_box span { display: inline-block; margin-top: 25px; padding-left: 16px; padding-right: 16px; line-height: 22px; font-size: 14px; color: #222222; }

.add_video .add_video_form .process_remind { position: relative; }

.add_video .add_video_form .process_remind .process_box { position: absolute; left: 284px; top: 18px; width: 474px; height: 168px; z-index: 999; background: url(../image/process.png) no-repeat; text-align: left; }

.add_video .add_video_form .process_remind .process_box ul { width: 474px; padding: 18px; line-height: 23px; }

.add_video .add_video_form .cout { position: relative; width: 491px; }

.add_video .add_video_form .cout .cout_words { color: #bbbbbb; position: absolute; right: 0; top: 0; line-height: 35px; margin-right: 12px; }

.add_video .add_video_form .remind { width: 570px; margin-left: 80px; text-align: center; margin-bottom: 32px; }

.add_video .add_video_form .remind p { color: #bbbbbb; }

.add_video .add_video_form .remind p em { color: #0091ea; cursor: pointer; }

.add_video .add_video_form .remind span { color: #222222; }

.add_video .add_video_form .remind span a { color: #0091ea; }

.add_video .add_video_form .agree_check { width: 14px; height: 14px; margin-top: 0; background: url(../image/c_uncheck.png) no-repeat; }

.add_video .add_video_form .agree_check:checked { background: url(../image/c_check.png) no-repeat; }

.add_video .add_video_form .check_rem { position: relative; }

.add_video .add_video_form .check_rem input.agree_check { visibility: hidden; position: absolute; top: 0; left: 143px; z-index: 9; }

.add_video .add_video_form .check_rem label.agree_label { display: inline-block; width: 14px; height: 14px; margin-top: -2px; background: url(../image/c_uncheck.png) no-repeat; vertical-align: middle; }

.add_video .add_video_form .check_rem .agree_check:checked + label { background: url(../image/c_check.png) no-repeat; }

.add_video .add_video_form .no_bott { margin-bottom: 0; position: relative; }

.add_video .add_video_form .no_bott .cover_box { position: absolute; left: 244px; top: 22px; width: 299px; height: 104px; z-index: 999; background: url(../image/cover.png) no-repeat; }

.add_video .add_video_form .no_bott .cover_box span { display: inline-block; margin-top: 26px; padding-left: 18px; padding-right: 18px; line-height: 20px; }

.add_video .add_video_footer { height: 124px; line-height: 124px; margin: 0 38px; text-align: center; padding: 0; }

.add_video .add_video_footer .add_sure_btn { width: 110px; height: 37px; background: #dddddd; color: #222222; font-size: 14px; border: 0; margin-right: 38px; }

.add_video .add_video_footer .sure_active { color: #fff; background: #0091ea; }

.add_video .add_video_footer .add_del_btn { width: 112px; height: 39px; background: #fff; color: #999999; font-size: 14px; border: 1px solid #999999; }

.sent_info { width: 836px; margin-right: 78px; margin-top: 30px; }

.sent_info .sent_info_cho { color: #222222; font-size: 16px; padding-left: 18px; position: relative; z-index: 99px; width: 836px; margin-bottom: 19px; }

.sent_info .sent_info_cho .sent_span { height: 30px; line-height: 30px; }

.sent_info .sent_info_cho .remind { color: #bbbbbb; font-size: 16px; }

.sent_info .sent_info_cho .remind em { color: #0091ea; }

.sent_info .sent_info_cho .edit_btn { display: inline-block; width: 52px; height: 30px; line-height: 30px; background: #0091ea; color: #fff; text-align: center; border-radius: 4px; margin-left: 12px; }

.sent_info .sent_info_cho .sent_btn { display: inline-block; width: 147px; height: 48px; line-height: 48px; background: #0091ea; color: #fff; text-align: center; margin-left: 18px; }

.sent_info .sent_info_cho .safe_btn { width: 184px; height: 50px; background: #fff; color: #0091ea; border: 1px solid #0091ea; }

.sent_info .sent_info_cho .select { margin-left: 13px; background-color: #fff; }

.sent_info .sent_info_cho .select .select_text { width: 65px; height: 30px; line-height: 30px; border: 1px solid #dce4ec; border-radius: 3px; padding-left: 12px; cursor: pointer; background: url(../image/select.png) no-repeat 45px 9px; }

.sent_info .sent_info_cho .select .timer { width: 72px; background: url(../image/select.png) no-repeat 52px 9px; }

.sent_info .sent_info_cho .select .select_list { width: 65px; position: relative; z-index: 999; }

.sent_info .sent_info_cho .select .select_list ul { border: 1px solid #dce4ec; border-top: 0; position: absolute; left: 0; top: 0; width: 65px; background: #fff; }

.sent_info .sent_info_cho .select .select_list ul .select_list_item { padding-left: 12px; height: 25px; line-height: 25px; cursor: pointer; }

.sent_info .sent_info_cho .select .select_list .hours { height: 200px; overflow: auto; width: 72px; }

.sent_info .no_pad { padding-left: 0; margin-top: 29px; }

.sent_info .date_text { width: 148px; height: 30px; border: 1px solid #dce4ec; margin-left: 18px; padding-left: 12px; background: url(../image/date.png) no-repeat 122px 7px; background-color: #fff; color: #bbbbbb; }

/* .dropdown-menu{
	left: 464px;
    z-index: 1010;
    display: block;
    top: 690px;
} */
