@charset "UTF-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font-weight: 400; vertical-align: baseline; background: transparent; list-style-type: none; }

html, body { font-family: "微软雅黑"; }

body { line-height: 1; font-size: 14px; min-width: 1200px; }

.container { width: 1200px; margin: 0 auto; padding: 0; }

:focus { outline: 1; }

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

nav ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

a { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

a { text-decoration: none; }

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted #000; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #cccccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

input, select, textarea { -webkit-tap-highlight-color: transparent; -webkit-appearance: none; -moz-appearance: none; appearance: none; border: 0; border-radius: 0; outline: none; }

em, i { font-style: normal; }

img { max-width: 100%; border: none; }

.cl:after, .clearfix:after { content: ""; display: block; height: 0; clear: both; visibility: hidden; }

.cl, .clearfix { *zoom: 1; }

.fl { float: left; }

.fr { float: right; }

.center { text-align: center; }

.hide { display: none !important; }

.show { display: block !important; }

.mgt30 { margin-top: 30px; }

.mgt20 { margin-top: 20px; }

.box { display: box; }

.no_margin { margin: 0 !important; }

.count_warn { color: #e15f63 !important; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font-weight: 400; vertical-align: baseline; background: transparent; list-style-type: none; }

html, body { font-family: "微软雅黑"; }

body { line-height: 1; font-size: 14px; min-width: 1200px; }

.container { width: 1200px; margin: 0 auto; padding: 0; }

:focus { outline: 1; }

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

nav ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

a { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

a { text-decoration: none; }

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted #000; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #cccccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

input, select, textarea { -webkit-tap-highlight-color: transparent; -webkit-appearance: none; -moz-appearance: none; appearance: none; border: 0; border-radius: 0; outline: none; }

em, i { font-style: normal; }

img { max-width: 100%; border: none; }

.cl:after, .clearfix:after { content: ""; display: block; height: 0; clear: both; visibility: hidden; }

.cl, .clearfix { *zoom: 1; }

.fl { float: left; }

.fr { float: right; }

.center { text-align: center; }

.hide { display: none !important; }

.show { display: block !important; }

.mgt30 { margin-top: 30px; }

.mgt20 { margin-top: 20px; }

.box { display: box; }

.no_margin { margin: 0 !important; }

.count_warn { color: #e15f63 !important; }

body { background: #eff2f7; }

header { width: 100%; height: 110px; line-height: 110px; border-bottom: 1px solid #dee5ed; background: #fff; }

header .logo { padding-left: 50px; }

header .logo a { display: block; }

header .logo a img { vertical-align: middle; }

header .user_info { padding-right: 55px; position: relative; top: 45px; }

header .user_info p { font-size: 14px; color: #1c84dc; line-height: 1; text-align: right; }

header .user_info p a { color: #1c84dc; text-decoration: underline; }

header .user_info p:last-child { margin-top: 15px; }

.main { margin-top: 20px; }

.main .menu_nav { margin-left: 50px; width: 228px; height: 646px; background: #fff; border: 1px solid #dce4ec; }

.main .menu_nav_list li { height: 63px; line-height: 63px; }

.main .menu_nav_list li.menu_nav_list_bottom { height: 206px; }

.main .menu_nav_list li i { float: left; display: inline-block; width: 67px; height: 63px; border-right: 1px solid #dce4ec; border-bottom: 1px solid #dce4ec; }

.main .menu_nav_list li i.nav_icon_01 { background: url(../image/nav_icon_01.png) center no-repeat; background-color: #f9fafb; }

.main .menu_nav_list li i.nav_icon_02 { background: url(../image/nav_icon_02.png) center no-repeat; background-color: #f9fafb; }

.main .menu_nav_list li i.nav_icon_03 { background: url(../image/nav_icon_03.png) center no-repeat; background-color: #f9fafb; }

.main .menu_nav_list li i.nav_icon_04 { background: url(../image/nav_icon_04.png) center no-repeat; background-color: #f9fafb; }

.main .menu_nav_list li i.nav_icon_05 { background: url(../image/nav_icon_05.png) center no-repeat; background-color: #f9fafb; }

.main .menu_nav_list li i.nav_icon_06 { background: url(../image/nav_icon_06.png) center no-repeat; background-color: #f9fafb; }

.main .menu_nav_list li i.nav_icon_07 { background: url(../image/nav_icon_07.png) center no-repeat; background-color: #f9fafb; }

.main .menu_nav_list li i.nav_icon_bottom { display: block; height: 203px; background-color: #f9fafb; border-bottom: 0; }

.main .menu_nav_list li a { display: block; height: 63px; line-height: 63px; font-size: 16px; text-indent: 30px; color: #7f96a3; background: #fff; border-bottom: 1px solid #dce4ec; }

.main .menu_nav_list li a:link { text-decoration: none; }

.main .menu_nav_list li a:visited { text-decoration: none; }

.main .menu_nav_list li a:hover { text-decoration: none; color: #0091ea; }

.main .menu_nav_list li a:active { text-decoration: none; }

.main .menu_nav_list li a.active { color: #0091ea; }

.main .main_wrapper { width: 836px; margin-left: 12px; }

.main_wrapper { background: #f9fafb; }

.main .menu_nav { height: auto; }

.image_text_wrapper { position: relative; border: 1px solid #ddd; }

.image_text_leftside { float: left; width: 172px; padding: 0 10px; }

.image_text_leftside .leftside_title { height: 50px; line-height: 50px; font-size: 14px; color: #537083; }

.image_text_leftside .leftside_cont { width: 100%; }

.image_text_leftside .leftside_cont_list { position: relative; padding: 10px 5px 5px; width: 100%; height: 82px; border: 1px solid #ddd; text-align: center; cursor: pointer; }

.image_text_leftside .leftside_cont_list .cover { float: right; width: 60px; height: 60px; background: url(../image/publish_img_bac_small.png) center no-repeat; }

.image_text_leftside .leftside_cont_list .title { position: static; max-height: 48px; overflow: hidden; line-height: 24px; word-break: break-all; word-wrap: break-word; color: #222; font-size: 14px; text-align: left; text-indent: 0; overflow: hidden; background: transparent; }

.image_text_leftside .leftside_cont_list.active { border: 2px solid #0091ea; }

.image_text_leftside .leftside_cont_list:hover .bac_operation { position: absolute; bottom: 0; left: 0; width: 100%; height: 38px; line-height: 38px; background: rgba(0, 0, 0, 0.5); }

.image_text_leftside .leftside_cont_list:hover .bac_operation i { display: inline-block; width: 20px; height: 100%; margin-right: 10px; margin-left: 10px; }

.image_text_leftside .leftside_cont_list:hover .bac_operation i.icon_arrow_down { float: left; background: url(../image/icon_down_01.png) center no-repeat; }

.image_text_leftside .leftside_cont_list:hover .bac_operation i.icon_arrow_up { float: left; background: url(../image/icon_up_01.png) center no-repeat; }

.image_text_leftside .leftside_cont_list:hover .bac_operation i.icon_del { float: right; background: url(../image/icon_del_01.png) center no-repeat; }

.image_text_leftside .leftside_cont_list_first { position: relative; padding: 5px; width: 100%; height: 130px; border: 1px solid #ddd; border-bottom: 0; text-align: center; cursor: pointer; }

.image_text_leftside .leftside_cont_list_first .cover { width: 100%; height: 100%; background: url(../image/publish_img_bac.png) 0 no-repeat; }

.image_text_leftside .leftside_cont_list_first .title { position: absolute; bottom: 5px; left: 5px; right: 5px; height: 29px; line-height: 29px; color: #fff; font-size: 14px; text-align: left; text-indent: 20px; overflow: hidden; white-space: nowrap; background: rgba(0, 0, 0, 0.57); }

.image_text_leftside .leftside_bottom { padding: 5px 3px 3px; border: 1px dashed #ddd; border-top: 0; }

.image_text_leftside .leftside_bottom a { margin-top: 3px; display: block; height: 28px; line-height: 28px; text-align: center; font-size: 14px; color: #bbb; border: 1px solid #bbb; }

.image_text_leftside .leftside_bottom a em { position: relative; top: -4px; vertical-align: middle; font-size: 35px; }

.image_text_leftside .leftside_bottom a:hover { color: #0091ea; border: 1px solid #0091ea; }

.image_text_editor { width: auto; float: left; border-left: 1px solid #ddd; border-right: 1px solid #ddd; }

.image_text_editor .keyword_wrapper { position: relative; padding: 20px 40px; background: #fff; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; }

.image_text_editor .keyword_wrapper:before { content: ""; display: block; position: absolute; left: 0; top: -1px; width: 15px; height: 1px; background: #fff; }

.image_text_editor .keyword_wrapper:after { content: ""; display: block; position: absolute; right: 0; top: -1px; width: 15px; height: 1px; background: #fff; }

.image_text_editor .keyword_wrapper .keyword { height: 38px; line-height: 38px; font-size: 14px; color: #222; }

.image_text_editor .keyword_wrapper .keyword input { margin-left: 7px; width: 386px; height: 38px; line-height: 38px; text-indent: 20px; font-size: 14px; border: 1px solid #ddd; }

.image_text_editor .keyword_wrapper .origin_link { margin-top: 20px; }

.image_text_editor .keyword_wrapper .origin_link_box { position: relative; padding-left: 20px; }

.image_text_editor .keyword_wrapper .origin_link_box #origin_link { visibility: hidden; position: absolute; top: 0; left: 0; z-index: 10; }

.image_text_editor .keyword_wrapper .origin_link_box label { display: inline-block; width: 14px; height: 14px; position: absolute; left: 0; top: 0; background: url(../image/icon_checkbox_unchecked.png) center no-repeat; }

.image_text_editor .keyword_wrapper .origin_link_box input:checked + label { background: url(../image/icon_checkbox_checked.png) center no-repeat; }

.image_text_editor .keyword_wrapper .origin_link_input { margin-top: 20px; padding-left: 20px; }

.image_text_editor .keyword_wrapper .origin_link_input input { width: 428px; height: 38px; line-height: 38px; font-size: 14px; border: 1px solid #ddd; text-indent: 10px; }

.image_text_editor .publish_style_edit { padding: 28px 60px 30px; }

.image_text_editor .publish_style_edit_title { font-size: 14px; color: #222; }

.image_text_editor .publish_style_edit .publish_edit_title { margin-top: 18px; margin-bottom: 18px; }

.image_text_editor .publish_style_edit .publish_edit_title span { margin-left: 18px; color: #bbb; }

.image_text_editor .publish_style_edit .cover_btns a { display: inline-block; width: 126px; height: 36px; line-height: 36px; text-align: center; background: #fff; border: 1px solid #ddd; color: #222; margin-right: 30px; border-radius: 3px; }

.image_text_editor .publish_style_edit .cover_btns a:hover { background: #ddd; }

.image_text_editor .publish_style_edit .textarea_wrp { width: 100%; border: 1px solid #ddd; }

.image_text_editor .publish_style_edit .textarea_wrp .summary_textarea { display: block; padding: 13px 7px; width: 100%; height: 140px; line-height: 24px; font-size: 14px; overflow-y: auto; overflow-x: hidden; resize: none; }

.image_text_editor .publish_style_edit .summary_count { text-align: right; margin-top: 10px; padding-right: 5px; }

.image_text_editor .publish_style_edit .summary_count span { font-size: 14px; color: #bbb; }

.image_text_rightside { /*float: right;*/ height: 100%; position: absolute; right: 0; width: 116px; background: #fff; }

.image_text_rightside .rightside_title { height: 50px; line-height: 50px; font-size: 14px; color: #537083; text-indent: 12px; }

.image_text_rightside .rightside_cont { padding: 0 12px; }

.image_text_rightside .rightside_cont_list { width: 92px; height: 34px; line-height: 34px; font-size: 14px; color: #7f96a3; border-left: 1px solid #dce4ec; border-right: 1px solid #dce4ec; border-top: 1px solid #dce4ec; text-align: left; text-indent: 10px; cursor: pointer; }

.image_text_rightside .rightside_cont_list:last-child { border-bottom: 1px solid #dce4ec; }

.image_text_rightside .rightside_cont_list:hover { border: 1px solid #43b548; }

.image_text_rightside .rightside_cont_list i { display: inline-block; width: 14px; height: 14px; vertical-align: middle; margin-right: 8px; }

.image_text_rightside .rightside_cont_list i.icon_pic { background: url(../image/icon_pic.png) center no-repeat; }

.image_text_rightside .rightside_cont_list i.icon_video { background: url(../image/icon_video.png) center no-repeat; }

.image_text_rightside .rightside_cont_list i.icon_music { background: url(../image/icon_music.png) center no-repeat; }

.image_text_rightside .rightside_cont_list i.icon_audio { background: url(../image/icon_audio.png) center no-repeat; }

.image_text_rightside .rightside_cont_list i.icon_vote { background: url(../image/icon_vote.png) center no-repeat; }

/*编辑器样式代码*/
#editor { margin: 0 auto; max-width: 546px; /*多媒体*/ }

#editor ::-webkit-input-placeholder { /* WebKit browsers */ color: #bbb; }

#editor :-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color: #bbb; }

#editor ::-moz-placeholder { /* Mozilla Firefox 19+ */ color: #bbb; }

#editor :-ms-input-placeholder { /* Internet Explorer 10+ */ color: #bbb; }

#editor #edui1 { border: none; }

#editor .editor_input_box { position: relative; width: auto; display: block; border: 0; height: auto; line-height: 1; }

#editor .title .editor_input { font-size: 20px; height: 46px; line-height: 46px; }

#editor .editor_input { position: relative; z-index: 1; height: 22px; margin: 4px 0; width: 100%; background-color: transparent; border: 0; outline: 0; font-size: 14px; line-height: 22px; }

#editor .editor_counter { position: absolute; width: 50px; color: #8d8d8d; font-size: 14px; font-weight: 400; font-style: normal; text-align: right; padding-right: 10px; right: 10px; }

#editor .title { margin: 20px 15px 15px; padding: 0 65px 0 25px; }

#editor .author { margin: 15px 15px 10px; padding: 0 65px 10px 25px; border-bottom: 1px solid #ddd; }

#editor .title_string_count { top: 20px; }

#editor .author_string_count { top: 10px; }

#editor .edui-editor-iframeholder { padding: 0 40px; }

#editor .editor_media { margin-left: 15px; float: left; width: 118px; }

#editor .edui-default .edui-toolbar .edui-button, #editor .edui-default .edui-toolbar .edui-splitbutton, #editor .edui-default .edui-toolbar .edui-menubutton, #editor .edui-default .edui-toolbar .edui-combox { margin: 1px 0; }
