<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../app/css/login.css">
</head>
<body>       
    <div class="loginTop">
        <div class="bg"><img src="../app/image/log_bg.png" alt=""></div>
        <div class="logo"><img src="../app/image/big_logo.png" alt=""></div>
        <div class="wave clearfix">
            <img src="../app/image/wave3.png" alt="" class="waves wave3">
            <img src="../app/image/wave2.png" alt="" class="waves wave2">
            <img src="../app/image/wave1.png" alt="" class="waves wave1">
        </div>
    </div>
    <div class="middle">
        <div class="loginMain part1">
            <div class="loginBox">
                <form action="" class="loginForm">
                    <div class="logText user">
                        <input type="text" class="sameText focusC" placeholder="用户名">
                    </div>
                    <div class="logText psd">
                        <input type="password" class="sameText focusC" placeholder="密码">
                    </div>
                    <div class="logText psdHelp">
                        <input type="checkbox" class="checkPsd">记住密码
                        <span class="forget"><a href="#" class="nextPsd">忘记密码？</a></span>
                    </div>
                    <div class="loginBtn">
                        <a href="#" class="aBtn log">登录</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="loginMain forgetMain part2 hide">
            <div class="loginBox">
                <form action="" class="forgetForm">
                    <div class="logText clearfix">
                        <input type="email" class="emailText focusC" placeholder="请输入邮箱">
                    </div>
                    <div class="logText clearfix">
                        <input type="text" class="emailText yzCode focusC" placeholder="请输入验证码">
                        <a href="#" class="aBtn getCode"><span>获取验证码</span></a>
                    </div>
                    
                    <div class="forBtn">
                        <a href="#" class="aBtn pre preStep">上一步</a>
                        <a href="#" class="aBtn next nextStep">下一步</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="loginMain forgetMain part3 hide">
            <div class="loginBox">
                <form action="" class="forgetForm">
                    <div class="logText clearfix">
                        <input type="password" class="emailText focusC" placeholder="请输入新密码">
                    </div>
                    <div class="logText clearfix">
                        <input type="password" class="emailText focusC" placeholder="确认密码">
                    </div>               
                    <div class="forBtn">
                        <a href="#" class="aBtn pre back">返回登录</a>
                        <a href="#" class="aBtn next">确认修改</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <div class="footer">
        <span>Copyright  2016  广州韬睿艾德广告有限公司  版权所有</span>
    </div>
    <script src="../../app/js/jquery/1.10.2/jquery.js"></script>
    <script>
        $(function(){
            $(document).on('click','.getCode',function(){
                $(this).addClass('gray');
                $('.getCode span').text('60S');
                var time=parseInt($('.getCode span').text());
                setTime=setInterval(function(){
                    if(time<=0){
                        clearInterval(setTime);
                        return;
                    }
                    time--;
                    $('.getCode span').text(time+'S');
                },1000);
            })
            $(document).on('click','.back',function(){
                $('.part3').addClass('hide');
                $('.part1').removeClass('hide');
            })
            $(document).on('click','.nextPsd',function(){
                $('.part1').addClass('hide');
                $('.part2').removeClass('hide');
            })
            $(document).on('click','.preStep',function(){
                $('.part2').addClass('hide');
                $('.part1').removeClass('hide');
            })
            $(document).on('click','.nextStep',function(){
                $('.part2').addClass('hide');
                $('.part3').removeClass('hide');
            })
            $(document).on('focus','.focusC',function(){
                $(this).addClass('focusT');
            })
            $(document).on('blur','.focusC',function(){
                $(this).removeClass('focusT');
            })
        })
    </script>
</body>
</html>
