<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>模板</title>
    <link rel="stylesheet" href="../app/css/bootstrap/3.3.0/bootstrap.min.css">
    <link rel="stylesheet" href="../app/css/bootstrap/3.3.0/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="../app/css/material_library.css"> 
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body> 
    <header class="clearfix">
        <div class="container">
            <div class="logo fl">
                <a href="#"><img src="../app/image/logo.png" alt=""></a>
            </div>
            <div class="user_info fr">
                <p>HI，<span>Mango</span></p>
                <p><a href="#">退出登录</a></p>
            </div>
        </div>        
    </header>      
    <section class="main container clearfix">
        <aside class="menu_nav fl">
            <ul class="menu_nav_list">
                <li><i class="menu_nav_list_icon nav_icon_01"></i><a class="active" href="#">群发消息</a></li>
                <li><i class="menu_nav_list_icon nav_icon_02"></i><a href="#">留言管理</a></li>
                <li><i class="menu_nav_list_icon nav_icon_03"></i><a href="#">数据分析</a></li>
                <li><i class="menu_nav_list_icon nav_icon_04"></i><a href="#">活动管理</a></li>
                <li><i class="menu_nav_list_icon nav_icon_05"></i><a href="#">素材管理</a></li>
                <li><i class="menu_nav_list_icon nav_icon_06"></i><a href="#">营销插件</a></li>
                <li><i class="menu_nav_list_icon nav_icon_07"></i><a href="#">系统设置</a></li>
                <li class="menu_nav_list_bottom"><i class="menu_nav_list_icon nav_icon_bottom"></i></li>
            </ul>
        </aside>
        <div class="main_wrapper fl">
            <div class="n_tittle">
                <a href="#" class="a_btn">新建群发消息</a>
                <a href="#" class="a_btn has_bor choose">图文素材库</a>
            </div>
            <div class="n_main fl clearfix">
                <div class="graphic_list fl">
                    <div class="graphic_num fl"><span>图文列表<em>2</em>/7</span></div>

                    <!-- 这里还要写图文列表，不要忘记了啊啊啊啊 -->
                    
                </div>
                <div class="library_box fl">
                <div class="graphic_library fl">
                    <div class="graphic_library_tittle">我的素材库</div>
                    <div class="graphic_library_box clearfix">
                        <div class="graphic_library_item fl">
                            <a href="#" class="graphic_library_a">
                                <img src="../app/image/ku_01.jpg" alt="" class="ku_img">
                                <div class="ku_span"></div>
                                <span class="ku_span_item">难道咖啡也如普通</span>
                            </a>
                        </div>
                        <div class="graphic_library_item fl">
                            <a href="#" class="graphic_library_a">
                                <img src="../app/image/ku_02.jpg" alt="" class="ku_img">
                                <div class="ku_span"></div>
                                <span class="ku_span_item">美食盛宴</span>
                            </a>
                        </div>
                        <div class="graphic_library_item fl">
                            <a href="#" class="graphic_library_a">
                                <img src="../app/image/ku_03.jpg" alt="" class="ku_img">
                                <div class="ku_span"></div>
                                <span class="ku_span_item">全能小王子,10999</span>
                            </a>
                        </div>
                        <div class="graphic_library_item fl">
                            <a href="#" class="graphic_library_a">
                                <img src="../app/image/ku_04.jpg" alt="" class="ku_img">
                                <div class="ku_span"></div>
                                <span class="ku_span_item">高碳钢冷锻硬化啊</span>
                            </a>
                        </div>
                        <div class="graphic_library_item fl">
                            <a href="#" class="graphic_library_a">
                                <img src="../app/image/ku_05.jpg" alt="" class="ku_img">
                                <div class="ku_span"></div>
                                <span class="ku_span_item">新一代空气循环啊</span>
                            </a>
                        </div>
                        <div class="graphic_library_item fl">
                            <a href="#" class="graphic_library_a">
                                <img src="../app/image/ku_06.jpg" alt="" class="ku_img">
                                <div class="ku_span"></div>
                                <span class="ku_span_item">耐热钢化玻璃可啊</span>
                            </a>
                        </div>
                        <div class="graphic_library_item fl">
                            <a href="#" class="graphic_library_a">
                                <img src="../app/image/ku_07.jpg" alt="" class="ku_img">
                                <div class="ku_span"></div>
                                <span class="ku_span_item">耐热钢化玻璃可啊</span>
                            </a>
                        </div>
                        <div class="graphic_library_item fl">
                            <a href="#" class="graphic_library_a">
                                <img src="../app/image/ku_08.jpg" alt="" class="ku_img">
                                <div class="ku_span"></div>
                                <span class="ku_span_item">设计新颖做工细啊</span>
                            </a>
                        </div>
                        <a href="#" class="graphic_library_set"><i class="close_set"></i><span>收起</span></a>
                    </div>
                </div>
                <div class="graphic_library fl">
                    <div class="graphic_library_tittle">品牌素材库</div>
                    <div class="brand_library_type">
                        <div class="type_btn fl active">最新</div>
                        <div class="type_btn long_type_btn has_bor fl">最高转发</div>
                        <div class="type_btn long_type_btn bor_ra fl">最高阅读</div>
                    </div>
                    <div class="brand_library_box fl">
                        <a href="javascript:;" class="brand_library_a">
                            <img src="../app/image/bran_01.jpg" alt="" class="bran_img">
                            <div class="bran_span"></div>
                            <span class="bran_span_item">旅行箱中保时捷，德国手工制造</span>
                            <p class="brand_library_p">阅读量：<em>245550</em></p>
                            <p class="brand_library_p">转发量：<em>245550</em></p>
                        </a>
                        <div class="brand_library_checked hidden"><img src="../app/image/library_checked.png" alt=""></div>
                        <div class="brand_library_edit">
                            <div class="edit_box fl"><a href="#"><img src="../app/image/bran_icon_01.png" alt=""></a></div>
                            <div class="edit_box has_bor fl"><a href="#"><img src="../app/image/bran_icon_02.png" alt=""></a></div>
                            <div class="edit_box fl"><a href="#"><img src="../app/image/bran_icon_03.png" alt=""></a></div>
                        </div>
                    </div>
                    <div class="brand_library_box fl">
                        <a href="javascript:;" class="brand_library_a">
                            <img src="../app/image/bran_02.jpg" alt="" class="bran_img">
                            <div class="bran_span"></div>
                            <span class="bran_span_item">创意百变高手系列 悉尼歌剧院限量版</span>
                            <p class="brand_library_p">阅读量：<em>245550</em></p>
                            <p class="brand_library_p">转发量：<em>245550</em></p>
                        </a>
                        <div class="brand_library_checked hidden"><img src="../app/image/library_checked.png" alt=""></div>
                        <div class="brand_library_edit">
                            <div class="edit_box fl"><a href="#"><img src="../app/image/bran_icon_01.png" alt=""></a></div>
                            <div class="edit_box has_bor fl"><a href="#"><img src="../app/image/bran_icon_02.png" alt=""></a></div>
                            <div class="edit_box fl"><a href="#"><img src="../app/image/bran_icon_03.png" alt=""></a></div>
                        </div>
                    </div>
                    <div class="brand_library_box fl">
                        <a href="javascript:;" class="brand_library_a">
                            <img src="../app/image/bran_03.jpg" alt="" class="bran_img">
                            <div class="bran_span"></div>
                            <span class="bran_span_item">为什么越来越多人爱上滑雪？</span>
                            <p class="brand_library_p">阅读量：<em>245550</em></p>
                            <p class="brand_library_p">转发量：<em>245550</em></p>
                        </a>
                        <div class="brand_library_checked hidden"><img src="../app/image/library_checked.png" alt=""></div>
                        <div class="brand_library_edit">
                            <div class="edit_box fl"><a href="#"><img src="../app/image/bran_icon_01.png" alt=""></a></div>
                            <div class="edit_box has_bor fl"><a href="#"><img src="../app/image/bran_icon_02.png" alt=""></a></div>
                            <div class="edit_box fl"><a href="#"><img src="../app/image/bran_icon_03.png" alt=""></a></div>
                        </div>
                    </div>
                    <div class="brand_library_box fl">
                        <a href="javascript:;" class="brand_library_a">
                            <img src="../app/image/bran_04.jpg" alt="" class="bran_img">
                            <div class="bran_span"></div>
                            <span class="bran_span_item">用不到300的预算， 送出最有逼格的礼物</span>
                            <p class="brand_library_p">阅读量：<em>245550</em></p>
                            <p class="brand_library_p">转发量：<em>245550</em></p>
                        </a>
                        <div class="brand_library_checked hidden"><img src="../app/image/library_checked.png" alt=""></div>
                        <div class="brand_library_edit">
                            <div class="edit_box fl"><a href="#"><img src="../app/image/bran_icon_01.png" alt=""></a></div>
                            <div class="edit_box has_bor fl"><a href="#"><img src="../app/image/bran_icon_02.png" alt=""></a></div>
                            <div class="edit_box fl"><a href="#"><img src="../app/image/bran_icon_03.png" alt=""></a></div>
                        </div>
                    </div>
                    <div class="n_vidio_right_page fr">
                        <p class="fl"><i>1</i>/<i>3</i></p>
                        <a href="#" class="next_page fl"><img src="../app/image/next.png" alt=""></a>
                        <input type="text" class="video_pages fl">
                        <a href="#" class="change_page fl">跳转</a>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="sent_info fr">
            <div class="sent_info_cho clearfix">
                <span class="sent_span fl">定时发送</span>
                <div class="select fl">
                    <div class="select_text">否</div>
                    <div class="select_list hidden">
                        <ul>
                            <li class="select_list_item">是</li>
                            <li class="select_list_item">否</li>
                        </ul>
                    </div>                    
                </div>                               
                <div class="input-group date form_date fl">
                    <input class="form-control date_text" size="16" type="text" value="">
                </div> 
                <div class="select sel_hours fl">
                    <div class="select_text timer">0时</div>
                    <div class="select_list hidden">
                        <ul class="hours min"></ul>
                    </div>                    
                </div>
                <div class="select sel_minutes fl">
                    <div class="select_text timer">0分</div>
                    <div class="select_list hidden">
                        <ul class="hours mini"></ul>
                    </div>                    
                </div>                          
            </div>
            <div class="sent_info_cho clearfix">
                <span class="sent_span fl">群发对象</span>
                <a href="#" class="edit_btn">编辑</a>
            </div>
            <div class="sent_info_cho no_pad">
                <a href="#" class="sent_btn">立即群发</a>
                <a href="#" class="sent_btn safe_btn">保存到材料库</a>
            </div>
            <div class="sent_info_cho"><p class="remind">你今天还能群发 <em>1</em> 次消息</p></div>
        </div>
    </section>

    <script src="../app/js/jquery/1.10.2/jquery.js"></script>
    <script src="../app/js/bootstrap/3.3.0/bootstrap.min.js"></script>
    <script src="../app/js/bootstrap/3.3.0/bootstrap-datetimepicker.min.js"></script>
    <script src="../app/js/bootstrap/3.3.0/bootstrap-datetimepicker.zh-CN.js"></script>

    <script>
        $(function(){
            var ifunction= {};

            ifunction = {
                init: function(){
                    ifunction.show_it();
                    ifunction.sel_date_html();
                    ifunction.add_calendar();
                },
                show_it: function () {
                    $('.select').on('click','.select_text',function(e){                        
                        $(this).next().toggleClass('hidden');
                        e.stopPropagation();
                    })
                    $('.select').on('click','.select_list_item',function(e){
                        e.stopPropagation();
                        var select_list_item=$(this).text();
                        $(this).parents('.select_list').prev().text(select_list_item);
                        $(this).parents('.select_list').addClass('hidden');
                    })
                    $(document).on('mouseleave','.select_list',function(){
                        $(this).addClass('hidden');
                    })
                    $('body').click(function(){
                        $('.select_list').addClass('hidden');
                    })

                    $(document).on('click','.graphic_library_a',function(){
                        $(this).toggleClass('active');
                    })
                    
                    $(document).on('click','.graphic_library_set',function(){
                        $('.graphic_library_item:gt(3)').toggleClass('hidden');
                        if($('.graphic_library_item:gt(3)').is('.hidden')){
                            $('.graphic_library_set i').addClass('open_set').removeClass('close_set');
                            $('.graphic_library_set span').html('展开');
                        }else{
                            $('.graphic_library_set i').addClass('close_set').removeClass('open_set');
                            $('.graphic_library_set span').html('收起');
                        }
                    })

                    $(document).on('click','.brand_library_a',function(){
                        $(this).next().removeClass('hidden');
                    })
                    $(document).on('click','.brand_library_checked',function(){
                        $(this).addClass('hidden');
                    })
                },

                sel_date_html: function () {
                    for(var i=0;i<=59;i++){
                        $('.mini').append('<li class="select_list_item select_list_min_item" min="'+i+'">'+i+'分'+'</li>'); 
                    }
                    for(var j=0;j<=23;j++){
                        $('.min').append('<li class="select_list_item select_list_hour_item" hour="'+j+'">'+j+'时'+'</li>'); 
                    }  

                    $(document).on('click', '.select_list_min_item', function(){
                        $('.sel_minutes').attr('data-minute',$(this).attr('min'));
                    });   

                    $(document).on('click', '.select_list_hour_item', function(){
                        $('.sel_hours').attr('data-hour',$(this).attr('hour'));
                    });                                      
                },

                add_calendar: function () {
                    $(".form-control").datetimepicker({
                        format: "yyyy-mm-dd",
                        autoclose: true,                
                        language:'zh-CN',
                        pickerPosition:"bottom-left",
                        minView: 2
                    });
                }               
            };

            var materialFuc = (function(){
                ifunction.init();
            }());
            
        })
    </script>
</body>
</html>
