<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发布信息</title>
    <link rel="stylesheet" href="../app/css/bootstrap/3.3.0/bootstrap.min.css">
    <link rel="stylesheet" href="../app/css/publish.css"> 
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body> 
    <header class="clearfix">
        <div class="container">
            <div class="logo fl">
                <a href="#"><img src="../app/image/logo.png" alt=""></a>
            </div>
            <div class="user_info fr">
                <p>HI，<span>Mango</span></p>
                <p><a href="#">退出登录</a></p>
            </div>
        </div>        
    </header>      
    <section class="main container clearfix">
        <aside class="menu_nav fl">
            <ul class="menu_nav_list">
                <li><i class="menu_nav_list_icon nav_icon_01"></i><a class="active" href="#">群发消息</a></li>
                <li><i class="menu_nav_list_icon nav_icon_02"></i><a href="#">留言管理</a></li>
                <li><i class="menu_nav_list_icon nav_icon_03"></i><a href="#">数据分析</a></li>
                <!--<li><i class="menu_nav_list_icon nav_icon_04"></i><a href="#">活动管理</a></li>-->
                <li><i class="menu_nav_list_icon nav_icon_05"></i><a href="#">素材管理</a></li>
                <!--<li><i class="menu_nav_list_icon nav_icon_06"></i><a href="#">营销插件</a></li>-->
                <li><i class="menu_nav_list_icon nav_icon_07"></i><a href="#">系统设置</a></li>
                <li class="menu_nav_list_bottom"><i class="menu_nav_list_icon nav_icon_bottom"></i></li>
            </ul>
        </aside>
        <div class="main_wrapper fl">
            <div class="image_text_wrapper clearfix">
                <div class="image_text_leftside">
                    <div class="leftside_title">图文列表</div>
                    <div class="leftside_cont">
                        <!--<div class="leftside_cont_list active leftside_cont_list_first" title="第一篇图文">
                            <img class="cover" src="" alt="">
                            <p class="title">标题</p>  
                            <div class="bac_operation">
                                <i class="icon_arrow_down" title="下移"></i>                                
                            </div>  
                        </div>
                        <div class="leftside_cont_list" title="第二篇图文">
                            <img class="cover" src="" alt="">
                            <p class="title">标题</p>  
                            <div class="bac_operation">
                                <i class="icon_arrow_up" title="上移"></i>
                                <i class="icon_del" title="删除"></i>
                            </div>   
                        </div>-->
                    </div>
                    <div class="leftside_bottom">
                        <a id="addnew_imgtext_btn" href="#"><em>+</em>新增一篇图文消息</a>
                        <a id="addnew_imgtext_storehouse" href="#"><em>+</em>从图文素材库新增</a>
                    </div>
                </div>
                <div class="image_text_editor">
                    <!-- 加载编辑器的容器 -->
                    <script id="editor" name="content" type="text/plain" style="width:544px;height:388px;"></script>
                    <div class="keyword_wrapper">
                        <div class="keyword">关键词：<input type="text" placeholder="请输入文章对应关键词"></div>
                        <div class="origin_link">
                            <div class="origin_link_box clearfix"><input id="origin_link" type="checkbox"><label for="origin_link"></label>原文链接</div>
                            <div class="origin_link_input hide"><input type="text"></div>
                        </div>
                    </div>
                    <div class="publish_style_edit">
                        <p class="publish_style_edit_title">发布样式编辑</p>
                        <div class="publish_style_cover">
                            <div class="publish_edit_title">封面<span>大图片建议尺寸：900像素 * 500像素</span></div>
                            <div class="cover_btns"><a href="javascript:void(0)" class="cover_btn_frmcont">从正文选择</a><a href="javascript:void(0)" class="cover_btn_frmstore">从图片库选择</a></div>
                            <div class="cover_preview_wrp">
                                <span class="cover_preview">
                                    <div class="cover_preview_del">
                                        <a href="javascript:void(0)" title="删除封面"></a>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="publish_style_summary">
                            <div class="publish_edit_title">摘要<span>选填，如果不填写会默认抓取正文前54个字</span></div>
                            <div class="textarea_wrp">
                                <textarea class="summary_textarea" name=""></textarea>                                
                            </div>
                            <div class="summary_count"><span>0/120</span></div>
                        </div>                        
                    </div>
                </div>
                <div class="image_text_rightside">
                    <div class="rightside_title">多媒体</div>
                    <div class="rightside_cont">
                        <div class="media_pic_btn rightside_cont_list"><i class="icon_pic"></i>图片</div>
                        <div class="media_video_btn rightside_cont_list"><i class="icon_video"></i>视频</div>
                        <div class="media_music_btn rightside_cont_list"><i class="icon_music"></i>音乐</div>
                        <div class="media_audio_btn rightside_cont_list"><i class="icon_audio"></i>音频</div>
                        <div class="media_vote_btn rightside_cont_list"><i class="icon_vote"></i>投票</div>                 
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="../app/js/jquery/1.10.2/jquery.js"></script>
    <script src="../app/js/bootstrap/3.3.0/bootstrap.min.js"></script>
    <script src="../app/js/ueditor/1.4.3/ueditor.config.js"></script>
    <script src="../app/js/ueditor/1.4.3/ueditor.all.min.js"></script>
    <script src="../app/js/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>    
    <script src="../app/js/yunos.js"></script>    
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
        $(function(){
            var iFunctions = {};

            iFunctions = {
                init: function(){
                    iFunctions.ueditorInit();
                    iFunctions.globalFuc();
                    iFunctions.renderImgTextList();
                },
                globalFuc: function(){
                    /*刷新或离开此页函数*/
                   /* window.addEventListener("beforeunload", function(e) {
                      var confirmationMessage = "";
                      (e || window.event).returnValue = confirmationMessage; // Gecko and Trident
                      return confirmationMessage; // Gecko and WebKit
                    }); */                
                },
                ueditorInit: function(){
                    var ue = UE.getEditor('editor', { 
                        initialContent: '<span style="color:#bbb;">从这里开始写正文</span>',
                        autoClearinitialContent: true,
                        elementPathEnabled: false,
                        wordCount: false           
                    });

                    ue.ready(function() {//编辑器初始化完成再赋值
                        setDisabled(); 
                        insertTitle();                                                                                            
                    });

                    ue.addListener('blur',function(){
                        //setDisabled(); 
                    });

                    ue.addListener('focus',function(){
                        setEnabled();
                    });

                    function insertTitle() {
                        var _insertHtml =  '<div class="title editor_input_box">' +
                                                '<input class="editor_input" type="text" name="title" placeholder="请在这里输入标题">' +
                                                '<em class="editor_counter title_string_count">0/64</em>' +
                                            '</div>' +
                                            '<div class="author editor_input_box">' +
                                                '<input class="editor_input" type="text" name="author" placeholder="请输入作者">' +
                                                '<em class="editor_counter author_string_count">0/8</em>' +
                                            '</div>';

                        sessionStorage.lastIndex = 1;//初始化定位
                        sessionStorage.Index = 1;//初始化定位

                        var imgTextIndex = sessionStorage.Index-1;//定位当前图文序号
console.log(imgTextIndex);
                        $('#edui1_iframeholder').before(_insertHtml);     
                        $('.title .editor_input').focus();
                        /*字数统计*/
                        $('.title .editor_input').on('keyup',function(){                            
                            $('.title .editor_input').countPlugin({
                                'el':'.title_string_count',
                                'max': 64,
                                'strs': $(this).val()
                            });

                            $('.leftside_cont_list').eq(imgTextIndex).find('.title').text($(this).val());

                            //setTimeout(function(){
                                iFunctions.cacheMasonry({
                                    "title": $(this).val(),
                                    "index": imgTextIndex+1,                                    
                                    "author": $('.author .editor_input').val(),                                    
                                    "content": UE.getEditor('editor').getContent()
                                });
                           //},500);
                        });   
                        /*字数统计*/
                        $('.author .editor_input').on('keyup',function(){
                            $('.author .editor_input').countPlugin({
                                'el':'.author_string_count',
                                'max': 8,
                                'strs': $(this).val()
                            });
                        });                
                    }

                    function setDisabled() {
                        UE.getEditor('editor').setDisabled('fullscreen');
                    }

                    function setEnabled() {
                        UE.getEditor('editor').setEnabled();                    
                    }

                    /*原文链接显示与否*/
                    $('.origin_link_box label').on('click', function(){    
                        $('#origin_link').is(':checked') ? $('.origin_link_input').addClass('hide') : $('.origin_link_input').removeClass('hide');
                    });

                    /*摘要*/
                    //根据CharCode是否在ASCII码范围内来区分数字汉字                   
                    //var str="88美元23,欧<p>元</p>34.89人<sp民币";
                    /*var str="div>我需要的文字</div>";                        
                    
                    str = str.replace(/<[^>]+>/g,"");
                    console.log(str);*/
                },                
                renderEditorText: function(index){//加载图文数据
console.log(index);
                    var dataArr = {};

                    if(localStorage._oData){
                        //localStorage._oData="";
                        //console.log("有session");          

                        dataArr = JSON.parse(localStorage._oData);                        
                                        
                        dataArr.recordList.map(function(product,i){
                            if(product.index == index){   
console.log("恩恩");                        
console.log(product);                        
                                $('.title .editor_input').val(product.title);
                                $('.author .editor_input').val(product.author);
                                UE.getEditor('editor').setContent(product.content);
                            } else {
                                /*$('.title .editor_input').val('');
                                $('.author .editor_input').val('');
                                UE.getEditor('editor').setContent('');*/
                            } 
                        });                     
                                                            
                                   
                    } 
                },
                renderImgTextList: function(){
                    var dataArr = {},
                        _html = '';
 //localStorage._oData="";
                    if(localStorage._oData){
                        //localStorage._oData="";
                        //console.log("有session");          

                        dataArr = JSON.parse(localStorage._oData);                        
                                     
                        dataArr.recordList.map(function(product,i){
                            //if(product.index == index){                           
                                /*product.title = items.title || product.title;
                                product.content = items.content || product.content;
                                product.author = items.author || product.author;
                                product.originLink = items.originLink || product.originLink;
                                product.keyword = items.keyword || product.keyword;
                                product.cover = items.cover || product.cover;
                                product.summary = items.summary || product.summary;
                                product.index = items.index || product.index; */  
                                var date = {
                                    "1": "一",
                                    "2": "二",
                                    "3": "三",
                                    "4": "四",
                                    "5": "五",
                                    "6": "六",
                                    "7": "七"
                                };

                                _html += '<div class="leftside_cont_list '+(product.order == 1 ? "leftside_cont_list_first active" : "")+'" index="'+product.index+'" title="第'+date[product.order]+'篇图文">' +
                                                '<img class="cover" src="'+product.cover+'" alt="">' +
                                                '<p class="title">'+product.title+'</p>' +  
                                                '<div class="bac_operation">' +
                                                    '<i class="'+(product.order == 1 ? "icon_arrow_down" : "icon_arrow_up")+'" title="'+(product.order == 1 ? "下移" : "上移")+'"></i>' +
                                                    '<i class="icon_del '+(product.order == 1 ? "hide" : "")+'" title="删除"></i>' +
                                                '</div>' +   
                                            '</div>';
                           // } 
                        });  

                        $('.leftside_cont').append(_html);       
                    } else {
                        _html = '<div class="leftside_cont_list" index="1" title="第一篇图文">' +
                                        '<img class="cover" src="" alt="">' +
                                        '<p class="title">标题</p>' +  
                                        '<div class="bac_operation">' +
                                            '<i class="icon_arrow_up hide" title="上移"></i>' +
                                            '<i class="icon_del hide" title="删除"></i>' +
                                        '</div>' +   
                                    '</div>';

                        $('.leftside_cont').append(_html);
                    }                    

                    /*新增图文,最多七篇*/
                    $('#addnew_imgtext_btn').on('click', function(){
                        var len = $('.leftside_cont_list').length;

                        if(len>=7){
                            alert("最多添加七篇图文信息");
                            return false;
                        }
                        
                        var date = {
                            "1": "一",
                            "2": "二",
                            "3": "三",
                            "4": "四",
                            "5": "五",
                            "6": "六",
                            "7": "七"
                        };

                        var _html = '<div class="leftside_cont_list" index="'+(len+1)+'" title="第'+date[len+1]+'篇图文">' +
                                        '<img class="cover" src="" alt="">' +
                                        '<p class="title">标题</p>' +  
                                        '<div class="bac_operation">' +
                                            '<i class="icon_arrow_up" title="上移"></i>' +
                                            '<i class="icon_del" title="删除"></i>' +
                                        '</div>' +   
                                    '</div>';

                        $('.leftside_cont').append(_html);
                    });
                    
                    /*选定图文编辑,同时保存上一个图文的数据*/
                    $(document).on('click', '.leftside_cont_list', function(){
                        sessionStorage.lastIndex = sessionStorage.Index;//定位上一个编辑的图文
                        sessionStorage.Index = $(this).attr('index');//定位当前正在编辑的图文

                        $(this).addClass('active').siblings().removeClass('active');

                        /*加载当前选定的图文数据*/
                        iFunctions.cacheImgText(sessionStorage.lastIndex);                        
                    });

                    /*删除图文,同时删除记录*/
                    $(document).on('click', '.bac_operation .icon_del', function(){                        
                        $(this).parents('.leftside_cont_list').remove();
                    });

                    /**/
                },
                cacheImgText: function(index){//保存图文的数据
                    iFunctions.cacheMasonry({
                        "title": $('.title .editor_input').val(),
                        "author": $('.author .editor_input').val(),
                        "index": index,
                        "content": UE.getEditor('editor').getContent()
                    });

                    iFunctions.renderEditorText(sessionStorage.Index);
                },
                cacheList: function(){//localStorage存储图文数据列表（按顺序）
                    
                },                
                cacheMasonry: function(opt){//localStorage存储每一篇图文数据
                    var dataArr = {
                            "recordList": []
                        },                        
                        items = {},
                        _flag = false;
console.log(opt);
                    items.title = opt.title;
                    items.content = opt.content;
                    items.author = opt.author;
                    items.originLink = opt.originLink;
                    items.keyword = opt.keyword;
                    items.cover = opt.cover;
                    items.summary = opt.summary;
                    items.index = opt.index;                      

                    if(localStorage._oData){
                        //localStorage._oData="";
                        //console.log("有session");          

                        dataArr = JSON.parse(localStorage._oData);                        
                                        
                        dataArr.recordList.map(function(product,i){
                            if(product.index == items.index){                           
                                product.title = items.title || product.title;
                                product.content = items.content || product.content;
                                product.author = items.author || product.author;
                                product.originLink = items.originLink || product.originLink;
                                product.keyword = items.keyword || product.keyword;
                                product.cover = items.cover || product.cover;
                                product.summary = items.summary || product.summary;
                                product.index = items.index || product.index;   
                                _flag = true;                        
                            }
                        });

                        if(!_flag) dataArr.recordList.push(items);  
                        localStorage._oData = JSON.stringify(dataArr);
            
                    } else {                    

                        dataArr.recordList.push(items);        
                        localStorage._oData = JSON.stringify(dataArr);
                    }  

console.log(localStorage._oData);     
                }
            }

            var publishFuc = (function(){
                iFunctions.init();
            })();
        });
        
    </script>
</body>
</html>
